<div class="jumbotron jumbotron-fluid">
    <div class="container heading">
        <h1 id="title">Igniters</h1>
        <h3 id="tagline">Dance Club</h3>
    </div>
</div>
  
<div class="container-fluid">
    <div class="container aboutUsContainer">
        <div class="row justify-content-between"> 
            <div class="col-md-6">    
                <h1 id="aboutUsTitle" class="aboutUs"><b>About Us</b></h1>
                <hr>
                <p class="aboutUs text-justify">
                    Igniters, as the name suggests, aims at creating sparks and blindings by sweeping everyone's feet with the dancing. 
                    Started two years ago, the club has achieved various success on and off the campus and we intend to continue the legacy in the upcoming years too. 
                    Join us in the journey and let's express, relish and celebrate the Art of Dance together.
                </p>
                <h5>
                    Follow us at: 
                    <button class="btn"><a href="https://www.instagram.com/igniters_iiitnr/" class="btn-floating"><i class="fa fa-instagram"></i></a></button>
                </h5>
            </div>
            <div class="col-md-4">
                <img src="assets/logo/Igniters.jpg" class="img-fluid mx-auto d-block img_logo" id="club_logo" alt="Igniters Logo">
            </div>
        </div>
    </div>
</div>
  
<div class="past display-4" id="past_events">
    <b>Events</b>
</div>
  
<div class="mycar">
    <div id="carouselExampleIndicators" class="carousel slide fade-carousel" data-ride="carousel">
        <ol class="carousel-indicators">
            <li data-target="#carouselExampleIndicators" data-slide-to="0" class="active"></li>
            <li data-target="#carouselExampleIndicators" data-slide-to="1"></li>
            <li data-target="#carouselExampleIndicators" data-slide-to="2"></li>
            <li data-target="#carouselExampleIndicators" data-slide-to="3"></li>
            <li data-target="#carouselExampleIndicators" data-slide-to="4"></li>
        </ol>
        <div class="carousel-inner">
            <div class="carousel-item active">
                <img class="d-block w-95 events" src="assets/events/igniters/pic 1-min.jpg" alt="Solo Dance Performance at the Cultural Night “Friday Feista”">
                <div class="carousel-caption overlay">
                    <h3 class="font-weight-light">Solo Dance Performance at the Cultural Night “Friday Feista”</h3>
                </div>
            </div>
            <div class="carousel-item">
                <img class="d-block w-100 events" src="assets/events/igniters/pic 5-min.JPG" alt="Garba Night 2019">
                <div class="carousel-caption overlay">
                    <h3 class="font-weight-light">Garba Night 2019</h3>
                </div>
            </div>
            <div class="carousel-item">
                <img class="d-block w-100 events" src="assets/events/igniters/pic 11-min.jpg" alt="Secured the position of 1st Runner Up in the Group Dance
                competition held during “Youthfest Dignity Cup 2019”">
                <div class="carousel-caption overlay">
                    <h3 class="font-weight-light">Secured the position of 1<sup>st</sup> Runner Up in the Group Dance
                        competition held during “Youthfest Dignity Cup 2019”</h3>
                </div>
            </div>
            <div class="carousel-item">
                <img class="d-block w-100 events" src="assets/events/igniters/pic 8-min.JPG" alt="Batch 2018, welcoming their juniors at Orientation 2019">
                <div class="carousel-caption overlay">
                    <h3 class="font-weight-light">Batch 2018, welcoming their juniors at Orientation 2019</h3>
                </div>
            </div>
            <div class="carousel-item">
                <img class="d-block w-100 events" src="assets/events/igniters/pic 2-min.png" alt="Performance during online event of Cultural Night 'Far Away Fridaze'">
                <div class="carousel-caption overlay">
                    <h3 class="font-weight-light">Performance during online event of Cultural Night “Far Away Fridaze"</h3>
                </div>
            </div>
        </div>
        <a class="carousel-control-prev" href="#carouselExampleIndicators" role="button" data-slide="prev">
            <span class="carousel-control-prev-icon" aria-hidden="true"></span>
            <span class="sr-only">Previous</span>
        </a>
        <a class="carousel-control-next" href="#carouselExampleIndicators" role="button" data-slide="next">
            <span class="carousel-control-next-icon" aria-hidden="true"></span>
            <span class="sr-only">Next</span>
        </a>
    </div>
</div>
  
<div class="past display-4" id="updates">
    <b>Latest Updates</b>
</div>
  
<div class="container-fluid">
    <div class="container aboutUsContainer">
        <div class="row justify-content-between col-md-8">
            <h5>
                <ul>
                    <li>Update 1</li>
                    <li>Update 2</li>
                    <li>Update 3</li>
                </ul>
            </h5>
        </div>
    </div>
</div>
  
<div class="past display-4" id="team">
    <b>Team</b>
</div>
  
<div class="container-fluid">
    <div id="carouselExampleControls" class="carousel slide" data-ride="carousel" data-interval="false">
        <div class="carousel-inner" style="padding-bottom: 1rem;">
            <div class="carousel-item active">
                <div class="row justify-content-center">
                    <div class="card card_team">
                        <div class="card-body">
                            <img class="card-img-top img_others" src="assets/team-20-21/akanksha_singh_pandaw.jpeg" alt="Akansha Singh">
                            <p class="card-header">Akansha Singh</p>
                            <p class="card-subtitle">Club Secretary</p>
                        </div>
                    </div>
                    <div class="card card_team">
                        <div class="card-body">
                            <img class="card-img-top img_others" src="assets/team-20-21/soniya_seervi.jpg" alt="Soniya Seervi">
                            <p class="card-header">Soniya Seervi</p>
                            <p class="card-subtitle">Vice In-Charge</p>
                        </div>
                    </div>
                </div>
            </div>
            
            <div class="carousel-item">
                <div class="row justify-content-center">
                    <div class="card card_team">
                        <div class="card-body">
                            <img class="card-img-top img_others" src="assets/team-20-21/shwetank_malviya.jpg" alt="Shwetank Malviya">
                            <p class="card-header">Shwetank Malviya</p>
                            <p class="card-subtitle">Choreography and Music In-Charge</p>
                        </div>
                    </div>
                    <div class="card card_team">
                        <div class="card-body">
                            <img class="card-img-top img_others" src="assets/team-20-21/pranay_tg.jpeg" alt="Pranay TG">
                            <p class="card-header">Pranay TG</p>
                            <p class="card-subtitle">Social Media Manager</p>
                        </div>
                    </div>
                </div>
            </div>       
        </div> 

        <a class="carousel-control-prev" href="#carouselExampleControls" role="button" data-slide="prev">
            <span class="carousel-control-prev-icon" id="prev" aria-hidden="true"></span>
            <span class="sr-only">Previous</span>
        </a>
        <a class="carousel-control-next" href="#carouselExampleControls" role="button" data-slide="next">
            <span class="carousel-control-next-icon" id="next" aria-hidden="true"></span>
            <span class="sr-only">Next</span>
        </a>
    </div>
</div>