#sac {
	font-family: Georgia, serif;
	color:rgb(255, 47, 47);
}

html {
	height: 100%;
}

#grp1 {
	margin-top: 0.5em;
}

#footer {
	margin-top: 0em;
}

body {
	background-image: linear-gradient(to left,#93a5cf,#e4efe9);
	overflow-x: hidden;
}

.card-deck {
	margin: 0 2rem;
}

.card {
	margin: 0 0.2rem 0.4rem 0.2rem;
	box-shadow: 5px 20px 20px rgba(75, 72, 72, 0.767);
}

.card-text {
	padding: 0.5rem;
}

.facebook, .twitter, .instagram, .linkedin {
	padding: 0 5px;
}

.footer-writeus, .footer-contact {
	padding: 1rem 3rem 2rem 2rem;
	background-color: #171a21;
}

br {
	margin-bottom: 0.5rem;
}

h4 {
	margin-bottom: 1rem;
}

#writeUsCard {
	width: 100%;
	font-size: 20px;
	/* box-shadow: 0 0 #171a21; */
	box-shadow: 1px 1px 10px 5px #171a21;
	border: 1px solid #171a21;
	background-color: #171a21;
}

#about{
	font-size: 1.03rem;
}