<div class="jumbotron jumbotron-fluid">
    <div class="container heading">
        <h1 id="title">MUN IIITNR</h1>
        <h3 id="tagline">Model United Nations Club</h3>
    </div>
</div>

<div class="container-fluid">
    <div class="container aboutUsContainer">
        <div class="row justify-content-between"> 
            <div class="col-md-6">    
                <h1 id="aboutUsTitle" class="aboutUs"><b>About Us</b></h1>
                <hr>
                <p class="aboutUs text-justify">
                    The IIIT NR MUN will give delegates the opportunity to discuss current issues and challenge them to offer new ideas.
                    MUN creates an environment to develop and exercise skills of great research in public speaking, debate, writing, 
                    critical thinking, collaboration, and leadership.
                    From having heated debates to forming alliances, this club will provide a platform to step into the shoes of UN 
                    ambassadors – to draft resolutions, plot strategy, and negotiate with allies as well as adversaries.
                </p>
                <h5>
                    Follow us at: 
                    <button class="btn"><a href="https://www.instagram.com/mun_iiitnr/?hl=en" class="btn-floating"><i class="fa fa-instagram"></i></a></button>
                </h5>
            </div>
            <div class="col-md-4">
                <img src="assets/logo/mun.png" class="img-fluid mx-auto d-block img_logo" id="club_logo" alt="TSoC Logo">
            </div>
        </div>
    </div>
</div>

<div class="past display-4" id="updates">
    <b>Latest Updates</b>
</div>

<div class="container-fluid">
    <div class="container aboutUsContainer">
        <div class="row justify-content-between col-md-8">
            <h5>
                <ul>
                    <!-- <li>New events coming soon!</li> -->
                    <li>The Launch</li>
                    <li>Intra-college MUN conference</li>
                </ul>
            </h5>
        </div>
    </div>
</div>

<div class="past display-4" id="team">
    <b>Team</b>
</div>

<div class="container-fluid">
    <div id="carouselExampleControls" class="carousel slide" data-ride="carousel" data-interval="false">
        <div class="carousel-inner" style="padding-bottom: 1rem;">
             <div class="carousel-item active">
                <div class="row justify-content-center">
                    <div class="card card_team">
                        <div class="card-body">
                            <img class="card-img-top img_others" src="assets/team-21-22/Anand_Bachker.jpeg" alt="Dr. Venkanna U">
                            <p class="card-header">Anand Bachker</p>
                            <p class="card-subtitle">Co-Founder</p>
                        </div>
                    </div>
                    <div class="card card_team">
                        <div class="card-body">
                            <img class="card-img-top img_others" src="assets/team-21-22/Nandita_Yadav.jpg" alt="Ritvik Muttreja">
                            <p class="card-header">Nandita Yadav</p>
                            <p class="card-subtitle">Co-Founder</p>
                        </div>
                    </div>
                    <div class="card card_team">
                        <div class="card-body">
                            <img class="card-img-top img_others" src="assets/team-21-22/Yathin_Prakash.png" alt="Himanshu Patel">
                            <p class="card-header">Yathin Prakash K.</p>
                            <p class="card-subtitle">Vice-in-Charge</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>