<nav class="navbar navbar-expand-lg">
    <ul class="nav nav-pills mx-auto" id="pills-tab" role="tablist">
        <li class="nav-item club-names">
            <a class="nav-link active" id="pills-home-tab" data-toggle="pill" href="#technical" role="tab">
                <b>TECHNICAL</b>
            </a>
        </li>
        <li class="nav-item">
            <a class="nav-link" id="pills-profile-tab" data-toggle="pill" href="#cultural" role="tab">
                <b>CULTURAL</b>
            </a>
        </li>
        <li class="nav-item">
            <a class="nav-link" id="pills-contact-tab" data-toggle="pill" href="#sports" role="tab">
                <b>SPORTS</b>
            </a>
        </li>
    </ul>
</nav>
<hr>
<div class="container">
    <div class="tab-content" id="pills-tabContent">

        <!-- Technical Club Details -->
        <div class="tab-pane fade show active" id="technical" role="tabpanel">
            <div class="card-deck">
                <div class="card">
                  <img class="card-img-top" src="assets/user.png" alt="TSoC">
                  <h5 class="card-header row1"><b><u>The Society of Coders</u></b></h5>
                  <div class="card-body d-flex flex-column">
                    <p class="card-text">This is a placeholder text for a short club description text for the technical club named The Society of Coders (TSoC).</p>
                    <a href="#" class="btn btn-primary mt-auto stretched-link">Know More</a>
                  </div>
                </div>
                <div class="card">
                  <img class="card-img-top" src="assets/user.png" alt="AI/ML Club">
                  <h5 class="card-header row1"><b><u>AI/ML Club</u></b></h5>
                  <div class="card-body d-flex flex-column">
                    <p class="card-text">This is a placeholder text for a short club description text for the technical club named AI/ML Club.</p>
                    <a href="#" class="btn btn-primary mt-auto stretched-link">Know More</a>
                    </div>
                </div>
                <div class="card">
                    <img class="card-img-top" src="assets/user.png" alt="CipherCell">
                    <h5 class="card-header row1"><b><u>CipherCell</u></b></h5>
                    <div class="card-body d-flex flex-column">
                        <p class="card-text">This is a placeholder text for a short club description text for the technical club named CipherCell.</p>
                        <a href="#" class="btn btn-primary mt-auto stretched-link">Know More</a>
                    </div>
                </div>
            </div>
            <div class="card-deck">
                <div class="card">
                  <img class="card-img-top" src="assets/user.png" alt="ComET">
                  <h5 class="card-header"><b><u>ComET</u></b></h5>
                  <div class="card-body d-flex flex-column">
                    <p class="card-text">This is a placeholder text for a short club description text for the technical club named ComEt.</p>
                    <a href="#" class="btn btn-primary mt-auto stretched-link">Know More</a>
                  </div>
                </div>
                <div class="card">
                    <img class="card-img-top" src="assets/user.png" alt="Tech4Gud">
                    <h5 class="card-header"><b><u>Tech4Gud</u></b></h5>
                    <div class="card-body d-flex flex-column">
                      <p class="card-text">This is a placeholder text for a short club description text for the technical club named Tech4Gud.</p>
                      <a href="#" class="btn btn-primary mt-auto stretched-link">Know More</a>
                    </div>
                </div>
                <div class="card">
                    <img class="card-img-top" src="assets/user.png" alt="Inquizitive">
                    <h5 class="card-header"><b><u>Inquizitive</u></b></h5>
                    <div class="card-body d-flex flex-column">
                      <p class="card-text">This is a placeholder text for a short club description text for the technical club named Inquizitive.</p>
                      <a href="#" class="btn btn-primary mt-auto stretched-link">Know More</a>
                    </div>
                </div>
            </div>
        </div>

        <!-- Cultural Club Details -->
        <div class="tab-pane fade" id="cultural" role="tabpanel">
            <div class="card-deck">
                <div class="card">
                  <img class="card-img-top" src="assets/user.png" alt="Indradhanush">
                  <h5 class="card-header"><b><u>Indradhanush</u></b></h5>
                  <div class="card-body d-flex flex-column">
                    <p class="card-text">This is a placeholder text for a short club description text for the technical club named Indradhanush.</p>
                    <a href="#" class="btn btn-primary mt-auto stretched-link">Know More</a>
                  </div>
                </div>
                <div class="card">
                  <img class="card-img-top" src="assets/user.png" alt="Capriccio">
                  <h5 class="card-header"><b><u>Capriccio</u></b></h5>
                  <div class="card-body d-flex flex-column">
                    <p class="card-text">This is a placeholder text for a short club description text for the technical club named Capriccio.</p>
                    <a href="#" class="btn btn-primary mt-auto stretched-link">Know More</a>
                    </div>
                </div>
                <div class="card">
                    <img class="card-img-top" src="assets/user.png" alt="ShutterBug">
                    <h5 class="card-header"><b><u>ShutterBug</u></b></h5>
                    <div class="card-body d-flex flex-column">
                        <p class="card-text">This is a placeholder text for a short club description text for the technical club named ShutterBug.</p>
                        <a href="#" class="btn btn-primary mt-auto stretched-link">Know More</a>
                    </div>
                </div>
            </div>
            <div class="card-deck">
                <div class="card">
                    <img class="card-img-top" src="assets/user.png" alt="Igniters">
                    <h5 class="card-header row2"><b><u>Igniters</u></b></h5>
                    <div class="card-body d-flex flex-column">
                        <p class="card-text">This is a placeholder text for a short club description text for the technical club named Igniters.</p>
                        <a href="#" class="btn btn-primary mt-auto stretched-link">Know More</a>
                    </div>
                </div>
                <div class="card">
                    <img class="card-img-top" src="assets/user.png" alt="Club de Theatre">
                    <h5 class="card-header row2"><b><u>Club de Theatre</u></b></h5>
                    <div class="card-body d-flex flex-column">
                        <p class="card-text">This is a placeholder text for a short club description text for the technical club named Club de Theatre.</p>
                        <a href="#" class="btn btn-primary mt-auto stretched-link">Know More</a>
                    </div>
                </div>
                <div class="card">
                    <img class="card-img-top" src="assets/user.png" alt="C2C">
                    <h5 class="card-header row2"><b><u>C2C</u></b></h5>
                    <div class="card-body d-flex flex-column">
                        <p class="card-text">This is a placeholder text for a short club description text for the technical club named C2C.</p>
                        <a href="#" class="btn btn-primary mt-auto stretched-link">Know More</a>
                    </div>
                </div>
                <div class="card">
                    <img class="card-img-top" src="assets/user.png" alt="Take Da Bait">
                    <h5 class="card-header row2"><b><u>Take Da Bait</u></b></h5>
                    <div class="card-body d-flex flex-column">
                      <p class="card-text">This is a placeholder text for a short club description text for the technical club named Take Da Bait.</p>
                      <a href="#" class="btn btn-primary mt-auto stretched-link">Know More</a>
                    </div>
                </div>
            </div>
        </div>

        <!-- Other Club Details -->
        <div class="tab-pane fade" id="sports" role="tabpanel">
            <h2><b>ATHARV</b></h2>
            <table class="table table-hover table-dark">
                <thead>
                    <tr class="bg-primary">
                        <th>S.No.</th>
                        <th>Name of the Post</th>
                        <th>Student(s) In Charge</th>
                    </tr>
                </thead>
                <tr class="table-success table-rows">
                    <td>1</td>
                    <td>Club In Charge</td>
                    <td>Yash Vardhan Singh</td>
                </tr>
                <tr class="table-success table-rows">
                    <td>2</td>
                    <td>Vice In Charge</td>
                    <td>Guna Teja</td>
                </tr>
                <tr class="table-success table-rows">
                    <td>3</td>
                    <td>Social Media Manager</td>
                    <td>Priyansh Pandey</td>
                </tr>
                <tr class="table-warning table-rows">
                    <td>4</td>
                    <td>Cricket In Charge</td>
                    <td>Shreyas Lall</td>
                </tr>
                <tr class="table-warning table-rows">
                    <td>5</td>
                    <td>Football In Charge</td>
                    <td>Ayush Tirkey</td>
                </tr>
                <tr class="table-warning table-rows">
                    <td>6</td>
                    <td>Basketball In Charge</td>
                    <td>Ojas Ankit</td>
                </tr>
                <tr class="table-warning table-rows">
                    <td>7</td>
                    <td>Badminton In Charge</td>
                    <td>Neeraj Kumar Toppo, Soniya Seervi</td>
                </tr>
                <tr class="table-warning table-rows">
                    <td>8</td>
                    <td>Volleyball In Charge</td>
                    <td>Vijjigiri Jyothinadh</td>
                </tr>
                <tr class="table-warning table-rows">
                    <td>9</td>
                    <td>Table Tennis In Charge</td>
                    <td>Varad Deouskar</td>
                </tr>
                <tr class="table-warning table-rows">
                    <td>10</td>
                    <td>Chess In Charge</td>
                    <td>Prajjwal Tawri, Shreya Masta</td>
                </tr>
                <tr class="table-warning table-rows">
                    <td>11</td>
                    <td>Kabaddi In Charge</td>
                    <td>Kishore Kumar Sahu</td>
                </tr>
                <tr class="table-warning table-rows">
                    <td>12</td>
                    <td>Carrom In Charge</td>
                    <td>Praneeth Nemani, Anushtha Tamrakar</td>
                </tr>
            </table>
        </div>
    </div>
</div>