<nav class="navbar navbar-expand-lg">
    <ul class="nav nav-pills nav-fill mx-auto" id="pills-tab" role="tablist">
        <li class="nav-item club-names">
            <a class="nav-link active" id="pills-technical-tab" data-toggle="pill" href="#technical" role="tab">
                <b>TECHNICAL</b>
            </a>
        </li>
        <li class="nav-item">
            <a class="nav-link" id="pills-cultural-tab" data-toggle="pill" href="#cultural" role="tab">
                <b>CULTURAL & LITERARY</b>
            </a>
        </li>
        <li class="nav-item">
            <a class="nav-link" id="pills-sports-tab" data-toggle="pill" href="#sports" role="tab">
                <b>SPORTS</b>
            </a>
        </li>
    </ul>
</nav>
<hr>
<div class="container">
    <div class="tab-content" id="pills-tabContent">

        <!-- Technical Club Details -->
        <div class="tab-pane fade show active" id="technical" role="tabpanel">
            <div class="row justify-content-center">
            <!-- The Society of Coders -->
                <div class="card card1 card-flip">
                    <div class="card-front">
                        <div class="card-body">
                            <img class="card-img-top" src="assets/logo/tsoc.jpg" alt="TSoC">
                            <h5 class="card-header row1"><b><u>The Society of Coders</u></b></h5>
                        </div>
                    </div>
                    <div class="card-back">
                        <div class="card-body d-flex flex-column justify-content-center align-items-center">
                            <p class="card-text">
                                This is a placeholder for a short description text for the technical club named The Society of Coders (TSoC).
                                <br>
                                <button class="btn"><a class="btn-floating"><i class="fa fa-instagram"> </i></a></button>
                                <button class="btn"><a class="btn-floating"><i class="fa fa-facebook"> </i></a></button>
                                <button class="btn"><a class="btn-floating"><i class="fa fa-twitter"> </i></a></button>
                                <br>
                                <a href="#" class="btn btn-primary mt-auto stretched-link">Know More</a>
                            </p>
                        </div>
                    </div>
                </div>
            <!-- AI/ML Club -->
                <div class="card card1 card-flip">
                    <div class="card-front">
                        <div class="card-body">
                            <img class="card-img-top" src="assets/user.png" alt="AI/ML Club">
                            <h5 class="card-header row1"><b><u>AI/ML Club</u></b></h5>
                        </div>
                    </div>
                    <div class="card-back">
                        <div class="card-body d-flex flex-column justify-content-center align-items-center">
                            <p class="card-text">
                                This is a placeholder for a short description text for the technical club named AI/ML Club.
                                <br>
                                <button class="btn"><a class="btn-floating"><i class="fa fa-instagram"> </i></a></button>
                                <button class="btn"><a class="btn-floating"><i class="fa fa-facebook"> </i></a></button>
                                <button class="btn"><a class="btn-floating"><i class="fa fa-twitter"> </i></a></button>
                                <br>
                                <a href="#" class="btn btn-primary mt-auto stretched-link">Know More</a>
                            </p>
                        </div>
                    </div>
                </div>
            <!-- CipherCell -->
                <div class="card card1 card-flip">
                    <div class="card-front">
                        <div class="card-body">
                            <img class="card-img-top" src="assets/user.png" alt="CipherCell">
                            <h5 class="card-header row1"><b><u>CipherCell</u></b></h5>
                        </div>
                    </div>
                    <div class="card-back">
                        <div class="card-body d-flex flex-column justify-content-center align-items-center">
                            <p class="card-text">
                                This is a placeholder for a short description text for the technical club named CipherCell.
                                <br>
                                <button class="btn"><a class="btn-floating"><i class="fa fa-instagram"> </i></a></button>
                                <button class="btn"><a class="btn-floating"><i class="fa fa-facebook"> </i></a></button>
                                <button class="btn"><a class="btn-floating"><i class="fa fa-twitter"> </i></a></button>
                                <br>
                                <a href="#" class="btn btn-primary mt-auto stretched-link">Know More</a>
                            </p>
                        </div>
                    </div>
                </div>
            <!-- ComET -->
                <div class="card card1 card-flip">
                    <div class="card-front">
                        <div class="card-body">
                            <img class="card-img-top" src="assets/user.png" alt="ComEt">
                            <h5 class="card-header row1"><b><u>ComEt</u></b></h5>
                        </div>
                    </div>
                    <div class="card-back">
                        <div class="card-body d-flex flex-column justify-content-center align-items-center">
                            <p class="card-text">
                                This is a placeholder for a short description text for the technical club named ComEt.
                                <br>
                                <button class="btn"><a class="btn-floating"><i class="fa fa-instagram"> </i></a></button>
                                <button class="btn"><a class="btn-floating"><i class="fa fa-facebook"> </i></a></button>
                                <button class="btn"><a class="btn-floating"><i class="fa fa-twitter"> </i></a></button>
                                <br>
                                <a href="#" class="btn btn-primary mt-auto stretched-link">Know More</a>
                            </p>
                        </div>
                    </div>
                </div>
            </div>

            <!-- <div class="card-deck"> -->
            <div class="row justify-content-center">
            <!-- Tech4Gud -->
                <div class="card card1 card-flip">
                    <div class="card-front">
                        <div class="card-body">
                            <img class="card-img-top" src="assets/user.png" alt="Tech4Gud">
                            <h5 class="card-header row1"><b><u>Tech4Gud</u></b></h5>
                        </div>
                    </div>
                    <div class="card-back">
                        <div class="card-body d-flex flex-column justify-content-center align-items-center">
                            <p class="card-text">
                                This is a placeholder for a short description text for the technical club named Tech4Gud.
                                <br>
                                <button class="btn"><a class="btn-floating"><i class="fa fa-instagram"> </i></a></button>
                                <button class="btn"><a class="btn-floating"><i class="fa fa-facebook"> </i></a></button>
                                <button class="btn"><a class="btn-floating"><i class="fa fa-twitter"> </i></a></button>
                                <br>
                                <a href="#" class="btn btn-primary mt-auto stretched-link">Know More</a>
                            </p>
                        </div>
                    </div>
                </div>
            <!-- Inquizitive -->
                <div class="card card1 card-flip">
                    <div class="card-front">
                        <div class="card-body">
                            <img class="card-img-top" src="assets/user.png" alt="Inquizitive">
                            <h5 class="card-header row1"><b><u>Inquizitive</u></b></h5>
                        </div>
                    </div>
                    <div class="card-back">
                        <div class="card-body d-flex flex-column justify-content-center align-items-center">
                            <p class="card-text">
                                This is a placeholder for a short description text for the technical club named Inquizitive.
                                <br>
                                <button class="btn"><a class="btn-floating"><i class="fa fa-instagram"> </i></a></button>
                                <button class="btn"><a class="btn-floating"><i class="fa fa-facebook"> </i></a></button>
                                <button class="btn"><a class="btn-floating"><i class="fa fa-twitter"> </i></a></button>
                                <br>
                                <a href="#" class="btn btn-primary mt-auto stretched-link">Know More</a>
                            </p>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <!-- Cultural Club Details -->
        <div class="tab-pane fade" id="cultural" role="tabpanel">
            <div class="row justify-content-center">
            <!-- Indradhanush -->
                <div class="card card2 card-flip">
                    <div class="card-front">
                        <div class="card-body">
                            <img class="card-img-top" src="assets/logo/indradhanush.png" alt="Indradhanush">
                            <h5 class="card-header row1"><b><u>Indradhanush</u></b></h5>
                        </div>
                    </div>
                    <div class="card-back">
                        <div class="card-body d-flex flex-column justify-content-center align-items-center">
                            <p class="card-text">
                                This is a placeholder for a short description text for the cultural and literary club named Indradhanush.
                                <br>
                                <button class="btn"><a class="btn-floating"><i class="fa fa-instagram"> </i></a></button>
                                <button class="btn"><a class="btn-floating"><i class="fa fa-facebook"> </i></a></button>
                                <button class="btn"><a class="btn-floating"><i class="fa fa-twitter"> </i></a></button>
                                <br>
                                <a href="#" class="btn btn-primary mt-auto stretched-link">Know More</a>
                            </p>
                        </div>
                    </div>
                </div>
            <!-- Capriccio -->
                <div class="card card2 card-flip">
                    <div class="card-front">
                        <div class="card-body">
                            <img class="card-img-top" src="assets/logo/capriccio.png" alt="Capriccio">
                            <h5 class="card-header row1"><b><u>Capriccio</u></b></h5>
                        </div>
                    </div>
                    <div class="card-back">
                        <div class="card-body d-flex flex-column justify-content-center align-items-center">
                            <p class="card-text">
                                It is all about music.
                                <br>
                                <button class="btn"><a class="btn-floating"><i class="fa fa-instagram"> </i></a></button>
                                <button class="btn"><a class="btn-floating"><i class="fa fa-facebook"> </i></a></button>
                                <button class="btn"><a class="btn-floating"><i class="fa fa-twitter"> </i></a></button>
                                <br>
                                <a href="#" class="btn btn-primary mt-auto stretched-link">Know More</a>
                            </p>
                        </div>
                    </div>
                </div>
            <!-- ShutterBug -->
                <div class="card card2 card-flip">
                    <div class="card-front">
                        <div class="card-body">
                            <img class="card-img-top" src="assets/logo/shutterbug.jpeg" alt="ShutterBug">
                            <h5 class="card-header row1"><b><u>ShutterBug</u></b></h5>
                        </div>
                    </div>
                    <div class="card-back">
                        <div class="card-body d-flex flex-column justify-content-center align-items-center">
                            <p class="card-text">
                                This is a placeholder for a short description text for the cultural and literary club named ShutterBug.
                                <br>
                                <button class="btn"><a class="btn-floating"><i class="fa fa-instagram"> </i></a></button>
                                <button class="btn"><a class="btn-floating"><i class="fa fa-facebook"> </i></a></button>
                                <button class="btn"><a class="btn-floating"><i class="fa fa-twitter"> </i></a></button>
                                <br>
                                <a href="#" class="btn btn-primary mt-auto stretched-link">Know More</a>
                            </p>
                        </div>
                    </div>
                </div>
                <!-- Igniters -->
                <div class="card card2 card-flip">
                    <div class="card-front">
                        <div class="card-body">
                            <img class="card-img-top" src="assets/user.png" alt="Igniters">
                            <h5 class="card-header row1"><b><u>Igniters</u></b></h5>
                        </div>
                    </div>
                    <div class="card-back">
                        <div class="card-body d-flex flex-column justify-content-center align-items-center">
                            <p class="card-text">
                                An inviting space for all where we express, relish and celebrate the Art of Dance.
                                <br>
                                <button class="btn"><a class="btn-floating"><i class="fa fa-instagram"> </i></a></button>
                                <button class="btn"><a class="btn-floating"><i class="fa fa-facebook"> </i></a></button>
                                <button class="btn"><a class="btn-floating"><i class="fa fa-twitter"> </i></a></button>
                                <br>
                                <a href="#" class="btn btn-primary mt-auto stretched-link">Know More</a>
                            </p>
                        </div>
                    </div>
                </div>
            </div>

            <div class="row justify-content-center">
            <!-- Club de Theatre -->
                <div class="card card2 card-flip">
                    <div class="card-front">
                        <div class="card-body">
                            <img class="card-img-top" src="assets/user.png" alt="Club de Theatre">
                            <h5 class="card-header row1"><b><u>Club de Theatre</u></b></h5>
                        </div>
                    </div>
                    <div class="card-back">
                        <div class="card-body d-flex flex-column justify-content-center align-items-center">
                            <p class="card-text">
                                This is a placeholder for a short description text for the cultural and literary club named Club de Theatre.
                                <br>
                                <button class="btn"><a class="btn-floating"><i class="fa fa-instagram"> </i></a></button>
                                <button class="btn"><a class="btn-floating"><i class="fa fa-facebook"> </i></a></button>
                                <button class="btn"><a class="btn-floating"><i class="fa fa-twitter"> </i></a></button>
                                <br>
                                <a href="#" class="btn btn-primary mt-auto stretched-link">Know More</a>
                            </p>
                        </div>
                    </div>
                </div>
            <!-- Cover 2 Cover -->
                <div class="card card2 card-flip">
                    <div class="card-front">
                        <div class="card-body">
                            <img class="card-img-top" src="assets/user.png" alt="Cover2Cover">
                            <h5 class="card-header row1"><b><u>Cover2Cover</u></b></h5>
                        </div>
                    </div>
                    <div class="card-back">
                        <div class="card-body d-flex flex-column justify-content-center align-items-center">
                            <p class="card-text">
                                This is a placeholder for a short description text for the cultural and literary club named Cover2Cover.
                                <br>
                                <button class="btn"><a class="btn-floating"><i class="fa fa-instagram"> </i></a></button>
                                <button class="btn"><a class="btn-floating"><i class="fa fa-facebook"> </i></a></button>
                                <button class="btn"><a class="btn-floating"><i class="fa fa-twitter"> </i></a></button>
                                <br>
                                <a href="#" class="btn btn-primary mt-auto stretched-link">Know More</a>
                            </p>
                        </div>
                    </div>
                </div>
            <!-- Take da Bait -->
                <div class="card card2 card-flip">
                    <div class="card-front">
                        <div class="card-body">
                            <img class="card-img-top" src="assets/user.png" alt="Take da bait">
                            <h5 class="card-header row1"><b><u>Take da bait</u></b></h5>
                        </div>
                    </div>
                    <div class="card-back">
                        <div class="card-body d-flex flex-column justify-content-center align-items-center">
                            <p class="card-text">
                                This is a placeholder for a short description text for the cultural and literary club named Take da bait.
                                <br>
                                <button class="btn"><a class="btn-floating"><i class="fa fa-instagram"> </i></a></button>
                                <button class="btn"><a class="btn-floating"><i class="fa fa-facebook"> </i></a></button>
                                <button class="btn"><a class="btn-floating"><i class="fa fa-twitter"> </i></a></button>
                                <br>
                                <a href="#" class="btn btn-primary mt-auto stretched-link">Know More</a>
                            </p>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <!-- Other Club Details -->
        <div class="tab-pane fade" id="sports" role="tabpanel">
            <h2><b>ATHARV</b></h2>
            <table class="table table-hover table-dark">
                <thead>
                    <tr class="bg-primary">
                        <th>S.No.</th>
                        <th>Name of the Post</th>
                        <th>Student(s) In Charge</th>
                    </tr>
                </thead>
                <tr class="table-success table-rows">
                    <td>1</td>
                    <td>Club In Charge</td>
                    <td>Yash Vardhan Singh</td>
                </tr>
                <tr class="table-success table-rows">
                    <td>2</td>
                    <td>Vice In Charge</td>
                    <td>Guna Teja</td>
                </tr>
                <tr class="table-success table-rows">
                    <td>3</td>
                    <td>Social Media Manager</td>
                    <td>Priyansh Pandey</td>
                </tr>
                <tr class="table-warning table-rows">
                    <td>4</td>
                    <td>Cricket In Charge</td>
                    <td>Shreyas Lall</td>
                </tr>
                <tr class="table-warning table-rows">
                    <td>5</td>
                    <td>Football In Charge</td>
                    <td>Ayush Tirkey</td>
                </tr>
                <tr class="table-warning table-rows">
                    <td>6</td>
                    <td>Basketball In Charge</td>
                    <td>Ojas Ankit</td>
                </tr>
                <tr class="table-warning table-rows">
                    <td>7</td>
                    <td>Badminton In Charge</td>
                    <td>Neeraj Kumar Toppo, Soniya Seervi</td>
                </tr>
                <tr class="table-warning table-rows">
                    <td>8</td>
                    <td>Volleyball In Charge</td>
                    <td>Vijjigiri Jyothinadh</td>
                </tr>
                <tr class="table-warning table-rows">
                    <td>9</td>
                    <td>Table Tennis In Charge</td>
                    <td>Varad Deouskar</td>
                </tr>
                <tr class="table-warning table-rows">
                    <td>10</td>
                    <td>Chess In Charge</td>
                    <td>Prajjwal Tawri, Shreya Masta</td>
                </tr>
                <tr class="table-warning table-rows">
                    <td>11</td>
                    <td>Kabaddi In Charge</td>
                    <td>Kishore Kumar Sahu</td>
                </tr>
                <tr class="table-warning table-rows">
                    <td>12</td>
                    <td>Carrom In Charge</td>
                    <td>Praneeth Nemani, Anushtha Tamrakar</td>
                </tr>
            </table>
        </div>
    </div>
</div>