<nav class="navbar navbar-expand-lg">
  <ul class="nav nav-pills nav-fill mx-auto" id="pills-tab" role="tablist">
    <li class="nav-item club-names">
      <a
        class="nav-link active"
        id="pills-technical-tab"
        data-toggle="pill"
        href="#technical"
        role="tab"
      >
        <b>TECHNICAL</b>
      </a>
    </li>
    <li class="nav-item">
      <a
        class="nav-link"
        id="pills-cultural-tab"
        data-toggle="pill"
        href="#cultural"
        role="tab"
      >
        <b>CULTURAL & LITERARY</b>
      </a>
    </li>
    <li class="nav-item">
      <a
        class="nav-link"
        id="pills-sports-tab"
        data-toggle="pill"
        href="#sports"
        role="tab"
      >
        <b>SPORTS</b>
      </a>
    </li>
  </ul>
</nav>
<hr />
<div class="container-fluid">
  <div class="tab-content" id="pills-tabContent">
    <!-- Technical Club Details -->
    <div class="tab-pane fade show active" id="technical" role="tabpanel">
      <div class="row justify-content-center" style="margin: -1.5rem 0 -2rem 0">
        <!-- The Society of Coders -->
        <div class="card card1 card-flip">
          <div class="card-front">
            <div class="card-body">
              <img class="card-img-top" src="assets/logo/tsoc.jpg" alt="TSoC" />
              <h5 class="card-header row1"><b>The Society of Coders</b></h5>
            </div>
          </div>
          <div class="card-back">
            <div
              class="
                card-body
                d-flex
                flex-column
                justify-content-center
                align-items-center
              "
            >
              <p class="card-text">
                The official computer society club which focuses on doing things
                rather than learning things.
                <br />
                <button class="btn">
                  <a
                    href="https://www.instagram.com/tsoc_iiitnr/"
                    class="btn-floating"
                    ><i class="fa fa-instagram"> </i
                  ></a>
                </button>
                <button class="btn">
                  <a
                    href="https://www.facebook.com/tsoc.iiitnr/"
                    class="btn-floating"
                    ><i class="fa fa-facebook"> </i
                  ></a>
                </button>
                <button class="btn">
                  <a
                    href="https://www.linkedin.com/company/tsoc-iiitnr/"
                    class="btn-floating"
                    ><i class="fa fa-linkedin"> </i
                  ></a>
                </button>
                <button class="btn">
                  <a
                    href="https://www.youtube.com/channel/UCW8FjxYiUnvuSqHbYEdseLQ/"
                    class="btn-floating"
                    ><i class="fa fa-youtube"></i
                  ></a>
                </button>
                <button class="btn">
                  <a href="https://iiitnr-tsoc.github.io/" class="btn-floating"
                    ><i class="fa fa-globe"></i
                  ></a>
                </button>
                <br />
                <a href="clubs/tsoc" class="btn btn-primary mt-auto"
                  >Know More</a
                >
              </p>
            </div>
          </div>
        </div>
        <!-- AI/ML Club -->
        <div class="card card1 card-flip">
          <div class="card-front">
            <div class="card-body">
              <img
                class="card-img-top"
                src="assets/logo/aiml.jpg"
                alt="AI/ML Club"
              />
              <h5 class="card-header row1"><b>AI/ML Club</b></h5>
            </div>
          </div>
          <div class="card-back">
            <div
              class="
                card-body
                d-flex
                flex-column
                justify-content-center
                align-items-center
              "
            >
              <p class="card-text">
                The institute's club for the incredibly interesting and growing
                field of Artificial Intelligence.
                <br />
                <button class="btn">
                  <a
                    href="https://www.instagram.com/aiml_club_iiitnr/"
                    class="btn-floating"
                    ><i class="fa fa-instagram"> </i
                  ></a>
                </button>
                <button class="btn">
                  <a
                    href="https://www.facebook.com/aiml.IIITNR/"
                    class="btn-floating"
                    ><i class="fa fa-facebook"> </i
                  ></a>
                </button>
                <button class="btn">
                  <a
                    href="https://linkedin.com/company/aiml-club-iiitnr/"
                    class="btn-floating"
                    ><i class="fa fa-twitter"> </i
                  ></a>
                </button>
                <button class="btn">
                  <a
                    href="https://www.youtube.com/channel/UCcrkARmponTvwA5VfQWKDzw/featured/"
                    class="btn-floating"
                    ><i class="fa fa-youtube"></i
                  ></a>
                </button>
                <br />
                <a href="clubs/aiml" class="btn btn-primary mt-auto"
                  >Know More</a
                >
              </p>
            </div>
          </div>
        </div>
        <!-- CipherCell -->
        <div class="card card1 card-flip">
          <div class="card-front">
            <div class="card-body">
              <img
                class="card-img-top"
                src="assets/logo/ciphercell.png"
                alt="CipherCell"
              />
              <h5 class="card-header row1"><b>CipherCell</b></h5>
            </div>
          </div>
          <div class="card-back">
            <div
              class="
                card-body
                d-flex
                flex-column
                justify-content-center
                align-items-center
              "
            >
              <p class="card-text">
                CipherCell is an official cybersecurity club of IIIT NR. This
                club intends to bring general awareness about hacking and to
                break the stigma surrounding the field.
                <br />
                <button class="btn">
                  <a
                    href="https://www.instagram.com/c1ph3rc3ll_iiitnr/"
                    class="btn-floating"
                    ><i class="fa fa-instagram"> </i
                  ></a>
                </button>
                <button class="btn">
                  <a
                    href="https://www.facebook.com/C1ph3rC3ll/"
                    class="btn-floating"
                    ><i class="fa fa-facebook"> </i
                  ></a>
                </button>
                <button class="btn">
                  <a
                    href="https://www.linkedin.com/company/ciphercell/"
                    class="btn-floating"
                    ><i class="fa fa-twitter"> </i
                  ></a>
                </button>
                <button class="btn">
                  <a
                    href="https://www.youtube.com/channel/UCEIgrcEdtoR7lOBEkDJ7RsQ/featured"
                    class="btn-floating"
                    ><i class="fa fa-youtube"></i
                  ></a>
                </button>
                <button class="btn">
                  <a
                    href="https://cipher-site.herokuapp.com/"
                    class="btn-floating"
                    ><i class="fa fa-globe"></i
                  ></a>
                </button>
                <br />
                <a href="clubs/ciphercell" class="btn btn-primary mt-auto"
                  >Know More</a
                >
              </p>
            </div>
          </div>
        </div>
        <!-- Inquizitive -->
        <div class="card card1 card-flip">
          <div class="card-front">
            <div class="card-body">
              <img
                class="card-img-top"
                src="assets/logo/inquizitive.jpg"
                alt="Inquizitive"
              />
              <h5 class="card-header row1"><b>Inquizitive</b></h5>
            </div>
          </div>
          <div class="card-back">
            <div
              class="
                card-body
                d-flex
                flex-column
                justify-content-center
                align-items-center
              "
            >
              <p class="card-text">
                Inquizitive is the official quiz club of IIIT-NR.
                <br />
                <button class="btn">
                  <a
                    href="https://www.instagram.com/inquizitive_iiitnr/"
                    class="btn-floating"
                    ><i class="fa fa-instagram"> </i
                  ></a>
                </button>
                <br />
                <a href="clubs/inquizitive" class="btn btn-primary mt-auto"
                  >Know More</a
                >
              </p>
            </div>
          </div>
        </div>
      </div>

      <div class="row justify-content-center" style="margin: -1.5rem 0 -2rem 0">
        <!-- ComEt -->
        <div class="card card1 card-flip">
          <div class="card-front">
            <div class="card-body">
              <img
                class="card-img-top"
                src="assets/logo/comet.png"
                alt="ComEt"
              />
              <h5 class="card-header row1"><b>ComEt</b></h5>
            </div>
          </div>
          <div class="card-back">
            <div
              class="
                card-body
                d-flex
                flex-column
                justify-content-center
                align-items-center
              "
            >
              <p class="card-text">
                The official Electronics club of IIIT-NR.
                <br />
                <button class="btn">
                  <a
                    href="https://www.instagram.com/comet.iiitnr/"
                    class="btn-floating"
                    ><i class="fa fa-instagram"> </i
                  ></a>
                </button>
                <br />
                <a href="clubs/comet" class="btn btn-primary mt-auto"
                  >Know More</a
                >
              </p>
            </div>
          </div>
        </div>
        <!-- Tech4Gud -->
        <div class="card card1 card-flip">
          <div class="card-front">
            <div class="card-body">
              <img
                class="card-img-top"
                src="assets/logo/tech4gud.png"
                alt="Tech4Gud"
              />
              <h5 class="card-header row1"><b>Tech4Gud</b></h5>
            </div>
          </div>
          <div class="card-back">
            <div
              class="
                card-body
                d-flex
                flex-column
                justify-content-center
                align-items-center
              "
            >
              <p class="card-text">
                A club that incorporates technological endeavors and social
                service, whose members strive to make tech that addresses the
                social, economic and environmental challenges.
                <br />
                <button class="btn">
                  <a
                    href="https://www.instagram.com/tech4gud__iiitnr/"
                    class="btn-floating"
                    ><i class="fa fa-instagram"> </i
                  ></a>
                </button>
                <button class="btn">
                  <a
                    href="https://www.linkedin.com/company/tech4gud-society/"
                    class="btn-floating"
                    ><i class="fa fa-linkedin"> </i
                  ></a>
                </button>
                <br />
                <a href="clubs/tech4gud" class="btn btn-primary mt-auto"
                  >Know More</a
                >
              </p>
            </div>
          </div>
        </div>
      </div>
    </div>

    <!-- Cultural Club Details -->
    <div class="tab-pane fade" id="cultural" role="tabpanel">
      <div class="row justify-content-center" style="margin: -1.5rem 0 -2rem 0">
        <!-- Indradhanush -->
        <div class="card card2 card-flip">
          <div class="card-front">
            <div class="card-body">
              <img
                class="card-img-top"
                src="assets/logo/indradhanush.png"
                alt="Indradhanush"
              />
              <h5 class="card-header row1"><b>Indradhanush</b></h5>
            </div>
          </div>
          <div class="card-back">
            <div
              class="
                card-body
                d-flex
                flex-column
                justify-content-center
                align-items-center
              "
            >
              <p class="card-text">
                Colours speak: Indradhanush promotes the language of colours for
                the hidden artists to let their hearts out.
                <br />
                <button class="btn">
                  <a
                    href="https://instagram.com/indradhanush_iiitnr/"
                    class="btn-floating"
                    ><i class="fa fa-instagram"> </i
                  ></a>
                </button>
                <br />
                <a href="clubs/indradhanush" class="btn btn-primary mt-auto"
                  >Know More</a
                >
              </p>
            </div>
          </div>
        </div>
        <!-- Capriccio -->
        <div class="card card2 card-flip">
          <div class="card-front">
            <div class="card-body">
              <img
                class="card-img-top"
                src="assets/logo/capriccio.png"
                alt="Capriccio"
              />
              <h5 class="card-header row1"><b>Capriccio</b></h5>
            </div>
          </div>
          <div class="card-back">
            <div
              class="
                card-body
                d-flex
                flex-column
                justify-content-center
                align-items-center
              "
            >
              <p class="card-text">
                It is all about music.
                <br />
                <button class="btn">
                  <a
                    href="https://www.instagram.com/capriccio_iiit_nr/"
                    class="btn-floating"
                    ><i class="fa fa-instagram"> </i
                  ></a>
                </button>
                <br />
                <a href="clubs/capriccio" class="btn btn-primary mt-auto"
                  >Know More</a
                >
              </p>
            </div>
          </div>
        </div>
        <!-- ShutterBug -->
        <div class="card card2 card-flip">
          <div class="card-front">
            <div class="card-body">
              <img
                class="card-img-top"
                src="assets/logo/shutterbug.jpeg"
                alt="ShutterBug"
              />
              <h5 class="card-header row1"><b>ShutterBug</b></h5>
            </div>
          </div>
          <div class="card-back">
            <div
              class="
                card-body
                d-flex
                flex-column
                justify-content-center
                align-items-center
              "
            >
              <p class="card-text">
                ShutterBug is a club where an avid photographer takes his camera
                with him everywhere to capture best pictures.
                <br />
                <button class="btn">
                  <a
                    href="https://www.instagram.com/shutterbugiiitnr/"
                    class="btn-floating"
                    ><i class="fa fa-instagram"> </i
                  ></a>
                </button>
                <button class="btn">
                  <a
                    href="https://www.facebook.com/shutterbugiiitnr/"
                    class="btn-floating"
                    ><i class="fa fa-facebook"> </i
                  ></a>
                </button>
                <br />
                <a href="clubs/shutterbug" class="btn btn-primary mt-auto"
                  >Know More</a
                >
              </p>
            </div>
          </div>
        </div>
        <!-- Club De Théâtre -->
        <div class="card card2 card-flip">
          <div class="card-front">
            <div class="card-body">
              <img
                class="card-img-top"
                src="assets/logo/club_de_theatre.png"
                alt="Club De Théâtre"
              />
              <h5 class="card-header row1"><b>Club De Théâtre</b></h5>
            </div>
          </div>
          <div class="card-back">
            <div
              class="
                card-body
                d-flex
                flex-column
                justify-content-center
                align-items-center
              "
            >
              <p class="card-text">
                For all the Ayushman Khurana's and Pankaj Tripathi's out there,
                we provide you the right platform to showcase your talent in
                skits, mimes, plays, nukkad natak and what not.
                <br />
                <button class="btn">
                  <a
                    href="https://www.instagram.com/clubdetheatre_iiitnr/"
                    class="btn-floating"
                    ><i class="fa fa-instagram"> </i
                  ></a>
                </button>
                <br />
                <a href="clubs/club-de-theatre" class="btn btn-primary mt-auto"
                  >Know More</a
                >
              </p>
            </div>
          </div>
        </div>
      </div>

      <div class="row justify-content-center" style="margin: -1.5rem 0 -2rem 0">
        <!-- Igniters -->
        <div class="card card2 card-flip">
          <div class="card-front">
            <div class="card-body">
              <img
                class="card-img-top"
                src="assets/logo/igniters.jpg"
                alt="Igniters"
              />
              <h5 class="card-header row1"><b>Igniters</b></h5>
            </div>
          </div>
          <div class="card-back">
            <div
              class="
                card-body
                d-flex
                flex-column
                justify-content-center
                align-items-center
              "
            >
              <p class="card-text">
                An inviting space for all where we express, relish and celebrate
                the Art of Dance.
                <br />
                <button class="btn">
                  <a
                    href="https://www.instagram.com/igniters_iiitnr/"
                    class="btn-floating"
                    ><i class="fa fa-instagram"> </i
                  ></a>
                </button>
                <br />
                <a href="clubs/igniters" class="btn btn-primary mt-auto"
                  >Know More</a
                >
              </p>
            </div>
          </div>
        </div>
        <!-- Cover to Cover -->
        <div class="card card2 card-flip">
          <div class="card-front">
            <div class="card-body">
              <img
                class="card-img-top"
                src="assets/logo/c2c.png"
                alt="Cover to Cover"
              />
              <h5 class="card-header row1"><b>Cover to Cover</b></h5>
            </div>
          </div>
          <div class="card-back">
            <div
              class="
                card-body
                d-flex
                flex-column
                justify-content-center
                align-items-center
              "
            >
              <p class="card-text">
                A common roof for aficionados and dilettantes alike, striving to
                inculcate a general appreciation of the English language through
                various interactive activities and events.
                <br />
                <button class="btn">
                  <a
                    href="https://instagram.com/c2c_iiitnr/"
                    class="btn-floating"
                    ><i class="fa fa-instagram"> </i
                  ></a>
                </button>
                <br />
                <a href="clubs/c2c" class="btn btn-primary mt-auto"
                  >Know More</a
                >
              </p>
            </div>
          </div>
        </div>
        <!-- Take da Bait -->
        <div class="card card2 card-flip">
          <div class="card-front">
            <div class="card-body">
              <img
                class="card-img-top"
                src="assets/logo/take_da_bait.jpg"
                alt="Take da bait"
              />
              <h5 class="card-header row1"><b>Take da bait</b></h5>
            </div>
          </div>
          <div class="card-back">
            <div
              class="
                card-body
                d-flex
                flex-column
                justify-content-center
                align-items-center
              "
            >
              <p class="card-text">
                Take da bait is the debating society of the institute. A place
                to protect and present opinions.
                <br />
                <button class="btn">
                  <a
                    href="https://instagram.com/take_da_bait/"
                    class="btn-floating"
                    ><i class="fa fa-instagram"> </i
                  ></a>
                </button>
                <br />
                <a href="clubs/take-da-bait" class="btn btn-primary mt-auto"
                  >Know More</a
                >
              </p>
            </div>
          </div>
        </div>

        <!-- Mun -->
        <div class="card card2 card-flip">
          <div class="card-front">
            <div class="card-body">
              <img class="card-img-top" src="assets/logo/mun.png" alt="MUN" />
              <h5 class="card-header row1"><b>Model United Nations</b></h5>
            </div>
          </div>
          <div class="card-back">
            <div
              class="
                card-body
                d-flex
                flex-column
                justify-content-center
                align-items-center
              "
            >
              <p class="card-text">
                The club promotes thorough discussion and debate on various
                conflicts of the world from a young perspective and provides a
                platform to be a part of something bigger.
                <br />
                <button class="btn">
                  <a href="#" class="btn-floating"
                    ><i class="fa fa-instagram"> </i
                  ></a>
                </button>
                <br />
                <a href="clubs/mun" class="btn btn-primary mt-auto"
                  >Know More</a
                >
              </p>
            </div>
          </div>
        </div>
      </div>
    </div>

    <!-- Other Club Details -->
    <div
      class="tab-pane fade"
      id="sports"
      role="tabpanel"
      style="margin: 0 -2rem"
    >
      <!-- <h2><b>ATHARV</b></h2> -->
      <app-atharv></app-atharv>

      <div class="row justify-content-center">
        <div class="card card3">
          <div class="card-body">
            <img
              class="card-img-top"
              src="assets/team-21-22/Anubhav yadav_incharge-min.jpg"
              alt="Yash Vardhan Singh"
            />
            <p class="card-header sports"><b>Anubhav Yadav</b></p>
            <p class="card-subtitle sports">Atharv In-Charge</p>
          </div>
        </div>
        <div class="card card3">
          <div class="card-body">
            <img
              class="card-img-top"
              src="assets/team-21-22/lekhana_vice_incharge.jpeg"
              alt="Gunateja Polamarasetti"
            />
            <p class="card-header sports"><b>Mysore Adiseshanaik Lekhna</b></p>
            <p class="card-subtitle sports">Vice In-Charge</p>
          </div>
        </div>
      </div>
      <!-- Cricket, Football, Basketball, Table Tennis -->
      <div class="row justify-content-center">
        <div class="card card3">
          <div class="card-body">
            <img
              class="card-img-top"
              src="assets/team-21-22/Aakash Agarwal_Cricket incharge-min.jpg"
              alt="Aakash Agarwal"
            />
            <p class="card-header sports"><b>Aakash Agarwal</b></p>
            <p class="card-subtitle sports">Cricket In-Charge</p>
          </div>
        </div>
        <div class="card card3">
          <div class="card-body">
            <img
              class="card-img-top"
              src="assets/team-21-22/Hardik Das_Football Incharge-min.jpeg"
              alt="Hardik Das"
            />
            <p class="card-header sports"><b>Hardik Das</b></p>
            <p class="card-subtitle sports">Football In-Charge</p>
          </div>
        </div>
        <div class="card card3">
          <div class="card-body">
            <img
              class="card-img-top"
              src="assets/team-20-21/ojas_ankit.jpeg"
              alt="Ojas Ankit"
            />
            <p class="card-header sports"><b>Ojas Ankit</b></p>
            <p class="card-subtitle sports">Basketball In-Charge</p>
          </div>
        </div>
        <div class="card card3">
          <div class="card-body">
            <img
              class="card-img-top"
              src="assets/team-20-21/varad_deouskar.jpeg"
              alt="Varad Deouskar"
            />
            <p class="card-header sports"><b>Varad Deouskar</b></p>
            <p class="card-subtitle sports">Table Tennis In-Charge</p>
          </div>
        </div>
        <div class="card card3">
          <div class="card-body">
            <img
              class="card-img-top"
              src="assets/team-21-22/saumya singh tt incharge girls-min.jpg"
              alt="Saumya Singh"
            />
            <p class="card-header sports"><b>Saumya Singh</b></p>
            <p class="card-subtitle sports">Table Tennis Vice In-Charge</p>
          </div>
        </div>
      </div>
      <!-- Badminton, Volleyball, Kabaddi -->
      <div class="row justify-content-center">
        <div class="card card3">
          <div class="card-body">
            <img
              class="card-img-top"
              src="assets/team-21-22/Saswat Satapathy_ Badminton Incharge-min.jpg"
              alt="Saswat Satapathy"
            />
            <p class="card-header sports"><b>Saswat Satapathy</b></p>
            <p class="card-subtitle sports">Badminton In-Charge</p>
          </div>
        </div>
        <div class="card card3">
          <div class="card-body">
            <img
              class="card-img-top"
              src="assets/team-21-22/Supriya_BadmintonIncharge-min.jpeg"
              alt="Kundrapu Supriya"
            />
            <p class="card-header sports"><b>Kundrapu Supriya</b></p>
            <p class="card-subtitle sports">Badminton Vice In-Charge</p>
          </div>
        </div>
        <div class="card card3">
          <div class="card-body">
            <img
              class="card-img-top"
              src="assets/team-21-22/Nishanth_volleyball-min.jpeg"
              alt="Nishanth"
            />
            <p class="card-header sports"><b>Nishanth</b></p>
            <p class="card-subtitle sports">Volleyball In-Charge</p>
          </div>
        </div>
        <div class="card card3">
          <div class="card-body">
            <img
              class="card-img-top"
              src="assets/team-21-22/ankit_kumar.jpeg"
              alt="Ankit Kumar"
            />
            <p class="card-header sports"><b>Ankit Kumar</b></p>
            <p class="card-subtitle sports">Kabaddi In-Charge</p>
          </div>
        </div>
      </div>
      <!-- Chess, Carrom and E-Sports -->
      <div class="row justify-content-center">
        <div class="card card3">
          <div class="card-body">
            <img
              class="card-img-top"
              src="assets/team-21-22/Sadhvika_Chess_CarromIncharge-min.jpeg"
              alt="Indala Sadhvika"
            />
            <p class="card-header sports"><b>Indala Sadhvika</b></p>
            <p class="card-subtitle sports">Chess And Carrom</p>
          </div>
        </div>
        <div class="card card3">
          <div class="card-body">
            <img
              class="card-img-top"
              src="assets/team-21-22/Harsh Pandey_ E-Sports Incharge-min.jpg"
              alt="Harsh Pandey"
            />
            <p class="card-header sports"><b>Harsh Pandey</b></p>
            <p class="card-subtitle sports">E-Sports</p>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
