<br>
<h1 style="text-align: center;">ANNUAL EVENTS</h1>
<br>
<div class="container-fluid">
  <div class="tab-content" id="pills-tabContent">
    <!-- Technical Club Details -->
    <div class="tab-pane fade show active" id="technical" role="tabpanel">
      <div class="row justify-content-center" style="margin: -1.5rem 0 -2rem 0">
        <!-- The Society of Coders -->
        <div class="card card1 card-flip">
          <div class="card-front">
            <div class="card-body">
              <img
                class="card-img-top"
                src="assets/logo/hack-logo.png"
                alt="Hackasol"
              />
              <h5 class="card-header row1"><b>Hack-a-sol</b></h5>
            </div>
          </div>
          <div class="card-back">
            <div
              class="
                card-body
                d-flex
                flex-column
                justify-content-center
                align-items-center
              "
            >
              <p class="card-text">
                HACK-A-SOL is a PAN India Hackathon organised by Technical clubs of IIIT NR in collaboration with SAC.
                <br />
                <button class="btn">
                  <a
                    href="https://www.instagram.com/hack_a_sol_iiitnr/"
                    class="btn-floating"
                    ><i class="fa fa-instagram"></i
                  ></a>
                </button>
                <button class="btn">
                  <a href="https://m.facebook.com/113286017803792/" class="btn-floating"
                    ><i class="fa fa-facebook"></i
                  ></a>
                </button>
                <button class="btn">
                  <a
                    href="https://www.linkedin.com/company/75465838/"
                    class="btn-floating"
                    ><i class="fa fa-linkedin"></i
                  ></a>
                </button>
                <button class="btn">
                  <a
                    href="https://www.youtube.com/channel/UCW8FjxYiUnvuSqHbYEdseLQ/"
                    class="btn-floating"
                    ><i class="fa fa-youtube"></i
                  ></a>
                </button>
                <button class="btn">
                  <a href="https://hackasol.tech/" class="btn-floating"
                    ><i class="fa fa-globe"></i
                  ></a>
                </button>
                <br />
                <a routerLink="/hackasol" class="btn btn-primary mt-auto"
                  >Know More</a
                >
              </p>
            </div>
          </div>
        </div>
        <!-- Scientific -->
        <div class="card card1 card-flip">
          <div class="card-front">
            <div class="card-body">
              <img
                class="card-img-top"
                src="assets/logo/iiitnr.png"
                alt="Scientific"
              />
              <h5 class="card-header row1"><b>Scientific</b></h5>
            </div>
          </div>
          <div class="card-back">
            <div
              class="
                card-body
                d-flex
                flex-column
                justify-content-center
                align-items-center
              "
            >
              <p class="card-text">
                It is a science and technology showcase and exhibition aimed at school students across the nation.
                <br />
                <button class="btn">
                  <a
                    href="https://instagram.com/scintfic_iiitnr"
                    class="btn-floating"
                    ><i class="fa fa-instagram"> </i
                  ></a>
                </button>
                <br />
                <a
                  href="https://ims.iiitnr.edu.in/SCI2k21/"
                  class="btn btn-primary mt-auto"
                  >Know More</a
                >
              </p>
            </div>
          </div>
        </div>
        <!-- Arambh -->
        <div class="card card1 card-flip">
          <div class="card-front">
            <div class="card-body">
              <img
                class="card-img-top"
                src="assets/logo/Atharv.jpg"
                alt="Arambh"
              />
              <h5 class="card-header row1"><b>Aarambh</b></h5>
            </div>
          </div>
          <div class="card-back">
            <div
              class="
                card-body
                d-flex
                flex-column
                justify-content-center
                align-items-center
              "
            >
              <p class="card-text">
                Aarambh is the annual intra college event of IIIT-NR.
                <br />
                <button class="btn">
                  <a
                    href="https://instagram.com/atharv_iiitnr/"
                    class="btn-floating"
                    ><i class="fa fa-instagram"> </i
                  ></a>
                </button>
                <button class="btn">
                  <a
                    href="https://facebook.com/atharviiitnr/"
                    class="btn-floating"
                    ><i class="fa fa-facebook"> </i
                  ></a>
                </button>
                <br />
                <a
                  href="https://www.iiitnr.ac.in/content/aarambh-2019"
                  class="btn btn-primary mt-auto"
                  >Know More</a
                >
              </p>
            </div>
          </div>
        </div>
        <!-- Technovate -->
        <div class="card card1 card-flip">
          <div class="card-front">
            <div class="card-body">
              <img
                class="card-img-top"
                src="assets/logo/Technovate.png"
                alt="Inquizitive"
              />
              <h5 class="card-header row1"><b>Technovate</b></h5>
            </div>
          </div>
          <div class="card-back">
            <div
              class="
                card-body
                d-flex
                flex-column
                justify-content-center
                align-items-center
              "
            >
              <p class="card-text">
                Technovate is annual techno cultural fest of IIIT-NR.
                <br />
                <button class="btn">
                  <a
                    href="https://instagram.com/technovate_iiitnr"
                    class="btn-floating"
                    ><i class="fa fa-instagram"> </i
                  ></a>
                </button>
                <button class="btn">
                  <a
                    href="https://m.facebook.com/technovate.iiitnr/"
                    class="btn-floating"
                    ><i class="fa fa-facebook"> </i
                  ></a>
                </button>
                <br />
                <a href="https://iiitnr.ac.in/content/technovate-2018" class="btn btn-primary mt-auto"
                  >Know More</a
                >
              </p>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
