<div class="jumbotron jumbotron-fluid">
    <div class="container heading">
        <h1 id="title">Cover to Cover (C2C)</h1>
        <h3 id="tagline">Literature Club</h3>
    </div>
</div>

<div class="container-fluid">
    <div class="container aboutUsContainer">
        <div class="row justify-content-between">
            <div class="col-md-6">
                <h1 id="aboutUsTitle" class="aboutUs"><b>About Us</b></h1>
                <hr>
                <p class="aboutUs text-justify">
                    <i>"Literature always anticipates life. It does not copy it but molds it to its purpose."</i> <br>- Oscar Wilde
                    <br><br>
                    <i>"To defend what we love, we need a particularizing language, for we love what we particularly know.”</i> <br>- Wendell Berry
                    <br><br>
                    C2C aims to foster a nurturing environment which creatively liberates its members.
                    The society seeks to transform itself into a composite of multifarious traditions and people.
                </p>
                <h5>
                    Follow us at:
                    <button class="btn"><a href="https://instagram.com/c2c_iiitnr/" class="btn-floating"><i class="fa fa-instagram"></i></a></button>
                </h5>
            </div>
            <div class="col-md-4">
                <img src="assets/logo/c2c.png" class="img-fluid mx-auto d-block img_logo" id="club_logo" alt="C2C Logo">
            </div>
        </div>
    </div>
</div>


<div class="past display-4" id="updates">
    <b>Latest Updates</b>
</div>

<div class="container-fluid">
    <div class="container aboutUsContainer">
        <div class="row justify-content-between col-md-8">
            <h5>
                <ul>
                    <li>8 November, 2020- Story Writing Competition: Cover2Cover</li>
                    <li>22 November, 2020- Just A Minute: Cover2Cover</li>
                  
                </ul>
            </h5>
        </div>
    </div>
</div>

<div class="past display-4" id="team">
    <b>Team</b>
</div>

<div class="container-fluid">
    <div id="carouselExampleControls" class="carousel slide" data-ride="carousel" data-interval="false">
        <div class="carousel-inner" style="padding-bottom: 1rem;">
            <div class="carousel-item active">
                <div class="row justify-content-center">
                    <div class="card card_team">
                        <div class="card-body">
                            <img class="card-img-top img_others" src="assets/team-20-21/amal_sunny.jpg" alt="Amal Sunny">
                            <p class="card-header">Amal Sunny</p>
                            <p class="card-subtitle">Club Secretary</p>
                        </div>
                    </div>
                    <div class="card card_team">
                        <div class="card-body">
                            <img class="card-img-top img_others" src="assets/team-20-21/yericherla_deepak_joel.jpg" alt="Yericherla Deepak Joel ">
                            <p class="card-header">Yericherla Deepak Joel </p>
                            <p class="card-subtitle">Vice In-Charge</p>
                        </div>
                    </div>
                </div>
            </div>

            <div class="carousel-item">
                <div class="row justify-content-center">
                    <div class="card card_team">
                        <div class="card-body">
                            <img class="card-img-top img_others" src="assets/team-20-21/shreya_masta.jpg" alt="Shreya Masta">
                            <p class="card-header">Shreya Masta</p>
                            <p class="card-subtitle">Vice In-Charge</p>
                        </div>
                    </div>
                    <div class="card card_team">
                        <div class="card-body">
                            <img class="card-img-top img_others" src="assets/team-20-21/shivam_kumar.jpg" alt="Shivam Kumar">
                            <p class="card-header">Shivam Kumar</p>
                            <p class="card-subtitle">Social Media Manager</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <a class="carousel-control-prev" href="#carouselExampleControls" role="button" data-slide="prev">
            <span class="carousel-control-prev-icon" id="prev" aria-hidden="true"></span>
            <span class="sr-only">Previous</span>
        </a>
        <a class="carousel-control-next" href="#carouselExampleControls" role="button" data-slide="next">
            <span class="carousel-control-next-icon" id="next" aria-hidden="true"></span>
            <span class="sr-only">Next</span>
        </a>
    </div>
</div>
