<div class="jumbotron jumbotron-fluid">
    <div class="container heading">
        <h1 id="title">Capriccio</h1>
        <h3 id="tagline">Music Club</h3>
    </div>
</div>
  
<div class="container-fluid">
    <div class="container aboutUsContainer">
        <div class="row justify-content-between"> 
            <div class="col-md-7">    
                <h1 id="aboutUsTitle" class="aboutUs"><b>About Us</b></h1>
                <hr>
                <p class="aboutUs text-justify">
                    Capriccio club boons people to lose themselves in the music. 
                    It comes from melodies and tunes strung together by people who sing and play musical instruments. 
                    It is not enough to just play the notes, or sing the words, or hear the songs. 
                    For it to mean something, you have to feel the music. Because if we don't feel it, how can anyone else? 
                    Once you hear the magical sound of music, you instantly feel harmony inside your heart and if it is good, you dance!
                    <br><br>
                    Music is the art or science of combining vocal or instrumental sounds (sometimes both) to produce beauty of form, harmony, and expression of emotion. 
                    Songs are the best companion of one's life. We can make the most of our voyage with the listening of music.
                </p>
                <h5>
                    Follow us at: 
                    <button class="btn"><a href="https://www.instagram.com/capriccio_iiit_nr/" class="btn-floating"><i class="fa fa-instagram"></i></a></button>
                </h5>
            </div>
            <div class="col-md-4">
                <img src="assets/logo/capriccio1.png" class="img-fluid mx-auto d-block img_logo" id="club_logo" alt="Capriccio Logo">
            </div>
        </div>
    </div>
</div>
  
<div class="past display-4" id="past_events">
    <b>Events</b>
</div>
  
<div class="mycar">
    <div id="carouselExampleIndicators" class="carousel slide fade-carousel" data-ride="carousel">
        <ol class="carousel-indicators">
            <li data-target="#carouselExampleIndicators" data-slide-to="0" class="active"></li>
            <li data-target="#carouselExampleIndicators" data-slide-to="1"></li>
            <li data-target="#carouselExampleIndicators" data-slide-to="2"></li>
            <li data-target="#carouselExampleIndicators" data-slide-to="3"></li>
            <li data-target="#carouselExampleIndicators" data-slide-to="4"></li>
        </ol>
        <div class="carousel-inner">
            <div class="carousel-item active">
                <img class="d-block w-100 events" src="../../../assets/events/cappricio/audience.jpeg" alt="">
                <div class="carousel-caption overlay">
                    <h3 class="font-weight-light">Hacktoberfest</h3>
                </div>
            </div>
            <div class="carousel-item ">
                <img class="d-block w-100 events" src="../../../assets/events/cappricio/jam-min.JPG" alt="">
                <div class="carousel-caption overlay">
                    <h3 class="font-weight-light">Hacktoberfest</h3>
                </div>
            </div>
            <div class="carousel-item ">
                <img class="d-block w-100 events" src="../../../assets/events/cappricio/DSC_0793-min.JPG" alt="">
                <div class="carousel-caption overlay">
                    <h3 class="font-weight-light">Hacktoberfest</h3>
                </div>
            </div>
            <div class="carousel-item ">
                <img class="d-block w-100 events" src="../../../assets/events/cappricio/IMG_20200214_185314.jpg" alt="">
                <div class="carousel-caption overlay">
                    <h3 class="font-weight-light">Hacktoberfest</h3>
                </div>
            </div>
            <div class="carousel-item ">
                <img class="d-block w-100 events" src="../../../assets/events/cappricio/performance.jpeg" alt="">
                <div class="carousel-caption overlay">
                    <h3 class="font-weight-light">Hacktoberfest</h3>
                </div>
            </div>
            
        </div>
        <a class="carousel-control-prev" href="#carouselExampleIndicators" role="button" data-slide="prev">
            <span class="carousel-control-prev-icon" aria-hidden="true"></span>
            <span class="sr-only">Previous</span>
        </a>
        <a class="carousel-control-next" href="#carouselExampleIndicators" role="button" data-slide="next">
            <span class="carousel-control-next-icon" aria-hidden="true"></span>
            <span class="sr-only">Next</span>
        </a>
    </div>
</div>
  
<div class="past display-4" id="updates">
    <b>Latest Updates</b>
</div>
  
<div class="container-fluid">
    <div class="container aboutUsContainer">
        <div class="row justify-content-between col-md-8">
            <h5>
                <ul>
                    <li>Update 1</li>
                    <li>Update 2</li>
                    <li>Update 3</li>
                </ul>
            </h5>
        </div>
    </div>
</div>
  
<div class="past display-4" id="team">
    <b>Team</b>
</div>
  
<div class="container-fluid">
    <div id="carouselExampleControls" class="carousel slide" data-ride="carousel" data-interval="false">
        <div class="carousel-inner" style="padding-bottom: 1rem;">
            <div class="carousel-item active">
                <div class="row justify-content-center">
                    <div class="card card_team">
                        <div class="card-body">
                            <img class="card-img-top img_others" src="assets/team-20-21/sparsh_agrawal.jpg" alt="Sparsh Agrawal">
                            <p class="card-header">Sparsh Agrawal</p>
                            <p class="card-subtitle">Club Secretary</p>
                        </div>
                    </div>
                    <div class="card card_team">
                        <div class="card-body">
                            <img class="card-img-top img_others" src="assets/team-20-21/ayush_tirkey.jpg" alt="Ayush Tirkey">
                            <p class="card-header">Ayush Tirkey</p>
                            <p class="card-subtitle">Vice In-Charge</p>
                        </div>
                    </div>
                    <div class="card card_team">
                        <div class="card-body">
                            <img class="card-img-top img_others" src="assets/team-20-21/stuti.jpg" alt="Stuti">
                            <p class="card-header">Stuti</p>
                            <p class="card-subtitle">Vice In-Charge</p>
                        </div>
                    </div>
                </div>
            </div>
  
        <!-- <a class="carousel-control-prev" href="#carouselExampleControls" role="button" data-slide="prev">
            <span class="carousel-control-prev-icon" id="prev" aria-hidden="true"></span>
            <span class="sr-only">Previous</span>
        </a>
        <a class="carousel-control-next" href="#carouselExampleControls" role="button" data-slide="next">
            <span class="carousel-control-next-icon" id="next" aria-hidden="true"></span>
            <span class="sr-only">Next</span>
        </a> -->
    </div>
</div>