<nav class="navbar navbar-expand-lg">
    <a class="navbar-brand" routerLink="/hack-a-sol">
        <b>Hack-a-Sol</b>
    </a>
    
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarMobile">
        <span class="navbar-toggler-icon"></span>
    </button>
    
    <div class="collapse navbar-collapse" id="navbarMobile">
        <ul class="navbar-nav nav-pills ml-auto">
            <li class="nav-item">
                <a class="nav-link" routerLinkActive="active" routerLink="/hack-a-sol" [routerLinkActiveOptions]="{ exact: true }">Home</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" routerLinkActive="active" routerLink="/hack-a-sol">About</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" routerLinkActive="active" routerLink="/hack-a-sol">Our Sponsors</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" routerLinkActive="active" routerLink="/hack-a-sol">Contact Us</a>
            </li>
        </ul>
    </div>
</nav>
<hr>

<div class="row">
    <div class="container-fluid text-center">
        <h1>Hack-a-Sol</h1>
        <p>A 24 hours Hackathon organised by IIIT Naya Raipur</p>
        <a href=""><button>Apply Now</button></a>
    </div>
</div>

<div class="row">
    <div class="container-fluid">
        <h2>Overview</h2>
        <p>
            The Hackathon will be a team-based competition, where participant teams will have to develop a solution based on a given problem statement. <u>The theme of the hackathon is yet to be decided.</u>
            <br><br>
            There will 10-12 tentative problem statements for the participants to choose from. The participants will be given 24 hours of time to develop and present their solutions before the judges.
            <br><br>
            Based on the level of participation, there can be a Preliminary Judgement and a Final Judgement.
            <br><br>
            The Hackathon is to be hosted on <b>DevFolio</b>, which is India’s largest Hackathon hosting platform.
        </p>
    </div>
</div>

<div class="row">
    <div class="container-fluid">
        <h2>Rules</h2>
        <table class="center">
            <tr>
                <td>(1)</td>
                <td class="text-left align-text-top">
                    Participant must be currently pursuing a Bacherlor's/Master's Degree in any discipline.
                </td>
            </tr>
            <tr>
                <td>(2)</td>
                <td class="text-left align-text-top">
                    Developers can take part in this hackathon by registering at the website and then forming a team of a maximum of four people.
                </td>
            </tr>
            <tr>
                <td>(3)</td>
                <td class="text-left align-text-top">
                    Choose any of the given problem statement and develop the product that meets our challenge.
                </td>
            </tr>
            <tr>
                <td>(4)</td>
                <td class="text-left align-text-top">
                    Developers can only use Open-source code, i.e whose license is available publically, restricted things can’t be used.
                </td>
            </tr>
            <tr>
                <td>(5)</td>
                <td class="text-left align-text-top">
                    Evaluation of the solutions would be done on the basis of the GitHub commits.
                </td>
            </tr>
            <tr>
                <td>(6)</td>
                <td class="text-left align-text-top">
                    Top teams would be presenting their solution in front of judges.
                </td>
            </tr>
            <tr>
                <td>(7)</td>
                <td class="text-left align-text-top">
                    In case of any dispute, the organizing team's decision would be final.
                </td>
            </tr>
            <tr>
                <td>(8)</td>
                <td class="text-left align-text-top">
                    The format and structure of events are subject to change before the actual beginning of the event.
                </td>
            </tr>
            <!-- The developers would be selected on the basis of their Resume and Github profiles which they will be submitting at the time of registration. -->
        </table>
    </div>
</div>

<div class="row">
    <div class="container-fluid">
        <h2>Prizes</h2>
        <p>Will be announced later</p>
    </div>
</div>

<div class="row">
    <div class="container-fluid">
        <h2>How to Register</h2>
        <p></p>
    </div>
</div>

<div class="row">
    <div class="container-fluid">
        <h2>Judging Criteria</h2>
        <p>
            <li>Quality of the Idea (includes creativity and originality of the idea)</li>
            <li>Technical Implementation of the Idea (includes how well the idea was executed by the developer)</li>
            <li>Potential Value (includes the extent to which the solution can help end users and businesses)</li>
        </p>
    </div>
</div>

<div class="row">
    <div class="container-fluid">
        <h2>Judges</h2>
        <p>Will be announced later</p>
    </div>
</div>

<!-- <div class="row">
    <div class="container-fluid">
        <h2>Themes</h2>
        <p></p>
    </div>
</div> -->

<div class="row">
    <div class="container-fluid">
        <h2>Important Dates</h2>
        <table class="center">
            <tr>
                <td><b>Registration Closing Date</b></td>
                <td>:</td>
                <td>TBD</td>
            </tr>
            <tr>
                <td><b>Hackathon Start Date</b></td>
                <td>:</td>
                <td>27<sup>th</sup> February 2021 (Saturday)</td>
            </tr>
            <tr>
                <td><b>Hackathon End Date</b></td>
                <td>:</td>
                <td>28<sup>th</sup> February 2021 (Saturday)</td>
            </tr>
        </table>
    </div>
</div>

<div class="row">
    <div class="container-fluid">
        <h2>FAQs</h2>
        <table class="center">
            <tr>
                <td class="text-left question">
                    Who should attend?
                </td>
            </tr>
            <tr>
                <td class="text-left">
                    We need tech developers, makers, game programmers, rebels that code who are currently pursuing a Bachelor's/Master's degree in any discipline.
                </td>
            </tr>
            <tr>
                <td class="text-left question">
                    Do I need to pay any money to register for the Hackathon?
                </td>
            </tr>
            <tr>
                <td class="text-left">
                    No. You do not have to pay anything to register yourself for the Hackathon.
                </td>
            </tr>
            <tr>
                <td class="text-left question">
                    Can I register as an individual?
                </td>
            </tr>
            <tr>
                <td class="text-left">
                    Yes, you can register as a one member team. The team should have 1-4 members.
                </td>
            </tr>
            <tr>
                <td class="text-left question">
                    Can I change the theme my team is responding to?
                </td>
            </tr>
            <tr>
                <td class="text-left">
                    <!-- Can I change the theme my team is responding to? -->
                </td>
            </tr>
            <tr>
                <td class="text-left question">
                    Since there is no specific technology mentioned, are there any restrictions on using a number of pre-built libraries?
                </td>
            </tr>
            <tr>
                <td class="text-left">
                    There is no restriction to use any programming language, technology stack, or libraries. You can use any of them to create your solution. You would need to provide the licensing information with a list of software used, if applicable.
                </td>
            </tr>
            <tr>
                <td class="text-left question">
                    Can I get a head start on my hack?
                </td>
            </tr>
            <tr>
                <td class="text-left">
                    To ensure a level playing field for all participants, all code and assets must be created during the hackathon. Failure to comply with this rule may result in the offending team's disqualification. You are, however, free to make plans, create wireframes, and brainstorm prior to the event.
                </td>
            </tr>
            <tr>
                <td class="text-left question">
                    How do I submit what I have made for the Hackathon?
                </td>
            </tr>
            <tr>
                <td class="text-left">
                    You have to develop the application on your local system and submit it on GitHub (private repositories would be provided) in tar/zip file format along with instructions to run the application and source code.
                </td>
            </tr>
            <tr>
                <td class="text-left question">
                    Do we need to have the entire idea fully working?
                </td>
            </tr>
            <tr>
                <td class="text-left">
                    The entire idea need not be fully implemented however, the submission should be functional so that it can be reviewed by the judges.
                </td>
            </tr>
            <tr>
                <td class="text-left question">
                    What are the judges looking for?
                </td>
            </tr>
            <tr>
                <td class="text-left">
                    The judges will be looking at how unique and interesting your idea is, how close it is to being a product, how creative your solution is and how convincing your pitch presentation is.
                </td>
            </tr>
            <tr>
                <td class="text-left question">
                    Who will own the IP (Intellectual Property) Rights to the product that I have built?
                </td>
            </tr>
            <tr>
                <td class="text-left">
                    The developer/developers of the web/mobile application will have all rights and own the IP of the product. However, all code needs to be in the public domain (open source) so that it can be evaluated by the judges.
                </td>
            </tr>
            <!-- <tr>
                <td class="text-left">
                </td>
            </tr> -->
        </table>
    </div>
</div>

<div class="row">
    <div class="container-fluid">
        <h2>Contact Us</h2>
        <p>
            <a href="" class="instagram" style="color: rgb(177, 66, 251)"><i class="fa fa-instagram"></i></a>
            <a href="" class="facebook" style="color: rgb(4, 57, 231)"><i class="fa fa-facebook"></i></a>
            <a href="" class="linkedin" style="color: rgb(2, 40, 165)"><i class="fa fa-linkedin"></i></a>
            
        </p>
    </div>
</div>