<!-- Header Area wrapper Starts -->
<header id="home">
    <!-- Navbar Start -->
    <nav class="navbar navbar-expand-lg bg-inverse fixed-top scrolling-navbar bg-light">
      <div class="container">
        <!-- Brand and toggle get grouped for better mobile display -->
        <a href="https://www.iiitnr.ac.in" target="blank" class="navbar-brand"><img src="assets/hackathon/img/college_logo.png"></a>       
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarCollapse" aria-controls="navbarCollapse" aria-expanded="false" aria-label="Toggle navigation">
          <i class="lni-menu"></i>
        </button>
        <div class="collapse navbar-collapse" id="navbarCollapse">
          <ul class="navbar-nav mr-auto w-100 justify-content-end">
            <li class="nav-item">
              <a class="nav-link" routerLinkActive="active" routerLink="/hack-a-sol" fragment="home">
                Home
              </a>
            </li>
            <li class="nav-item">
              <a class="nav-link" routerLinkActive="active" routerLink="/hack-a-sol" fragment="about">
                About
              </a>
            </li>
            <li class="nav-item">
              <a class="nav-link" routerLinkActive="active" routerLink="/hack-a-sol" fragment="schedules">
                Schedules
              </a>
            </li>
            <li class="nav-item">
              <a class="nav-link" routerLinkActive="active" routerLink="/hack-a-sol" fragment="speakers">
                Speakers
              </a>
            </li>
            <li class="nav-item">
              <a class="nav-link" routerLinkActive="active" routerLink="/hack-a-sol" fragment="sponsors">
                Sponsors
              </a>
            </li>
            <li class="nav-item">
              <a class="nav-link" routerLinkActive="active" routerLink="/hack-a-sol" fragment="contact-us">
                Contact Us
              </a>
            </li>
          </ul>
        </div>
      </div>
    </nav>
    <!-- Navbar End -->

    <!-- Hero Area Start -->
    <div id="hero-area" class="hero-area-bg">
      <div class="overlay"></div>
      <div class="container">
        <div class="row justify-content-center">
          <div class="col-lg-9 col-sm-12">
            <div class="contents text-center">
              <div class="icon">
                <!-- <i class="lni-mic"></i> -->
              </div>
              <img src="assets/hackathon/img/logo.png" alt="Hack-a-Sol Logo">
              <h2 class="head-title">Hack-a-Sol</h2>
              <p class="banner-desc">I'm Codin' It</p>
              <div class="banner-btn">
                <a href="#" class="btn btn-common">Register Now</a>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <!-- Hero Area End -->

  </header>
  <!-- Header Area wrapper End -->

  <!-- Count Bar Start -->
  <section id="count">
    <div class="container">
      <div class="row justify-content-center">
        <div class="col-10">
          <div class="count-wrapper text-center">
            <div class="time-countdown wow fadeInUp" data-wow-delay="1s">
              <div id="clock" class="time-count">
                <div class="time-entry days"><span>{{ daysRemaining }}</span> <b>:</b> Days</div>
                <div class="time-entry hours"><span>{{ hoursRemaining }}</span> <b>:</b> Hours</div>
                <div class="time-entry minutes"><span>{{ minutesRemaining }}</span> <b>:</b> Minutes</div>
                <div class="time-entry seconds"><span>{{ secondsRemaining }}</span> Seconds</div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>
  <!-- Count Bar End -->

  <!-- About Section Start -->
  <section id="about" class="section-padding">
    <div class="container">
      <div class="row">
        <div class="col-lg-6 col-md-12 col-xs-12">
          <div class="img-thumb">
            <img class="img-fluid" src="assets/hackathon/img/about/img1.png" alt="">
          </div>
        </div>
        <div class="col-lg-6 col-md-12 col-xs-12">
          <div class="about-content">
            <div>
              <div class="about-text">  
                <h2>About The Hackathon</h2>
                <p>Hack-a-Sol is the annual hackathon organised by The Society of Coders, IIIT Naya Raipur. The participants are given some problem statements and within 24 hours they have to come up with a solution.</p>
              </div>
              <ul class="stylish-list mb-3">
                <li><i class="lni-check-mark-circle"></i>Cash Prizes for Winners</li>
                <li><i class="lni-check-mark-circle"></i>Participation Certificate</li>
                <li><i class="lni-check-mark-circle"></i>Get Inspired by Amazing Speakers</li>
                <li><i class="lni-check-mark-circle"></i>An Exciting and Fun Way to Learn and Develop</li>
              </ul>
              <a class="btn btn-common" href="https://iiitnr-tsoc.github.io/">About TSoC</a>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>
  <br>
  <br>
  <!-- Information Bar Start -->
  <section id="information-bar">
    <div class="container">
      <div class="row inforation-wrapper">
        <div class="col-lg-6 col-md-6 col-xs-12">
          <ul>
            <li>
              <i class="lni-calendar"></i>
            </li>
            <li><span><b>Date & Time</b> 10 PM, 27<sup>th</sup> Feb 2021</span></li>
          </ul>
        </div>
        <div class="col-lg-6 col-md-6 col-xs-12">
          <ul>
            <li>
              <i class="lni-mic"></i>
            </li>
            <li><span><b>Duration</b>24 Hours</span></li>
          </ul>
        </div>
      </div>
    </div>
  </section>
  <!-- Information Bar End -->

   <!-- intro Section Start -->
  <section id="intro" class="intro section-padding">
    <div class="container">
      <div class="row">
        <div class="col-12">
          <div class="section-title-header text-center">
            <h2 class="section-title wow fadeInUp" data-wow-delay="0.2s">Why You Should Join?</h2>
            <p class="wow fadeInDown" data-wow-delay="0.2s">The 3 main reasons why cannot ignore this opportunity to take part in our hackathon.</p>
          </div>
        </div>
      </div>
      <div class="row intro-wrapper">
        <div class="col-lg-4 col-md-6 col-xs-12">
          <div class="single-intro-text mb-70">
             <i class="lni-microphone"></i>
             <h3>Great Speaker</h3>
             <p>
                Get inspired and motivated listening to a veteran speaker.
                <br>
                <br>
             </p>
             <span class="count-number">01</span>
          </div>
        </div>
        <div class="col-lg-4 col-md-6 col-xs-12">
          <div class="single-intro-text">
             <i class="lni-users"></i>
             <h3 class="ts-title">Meet New People</h3>
             <p>
                Learn from having a look at other's submission from a variety of colleges.
             </p>
             <span class="count-number">02</span>
          </div>
          <div class="border-shap left"></div>
        </div>
        <div class="col-lg-4 col-md-6 col-xs-12">
          <div class="single-intro-text mb-70">
             <i class="lni-bullhorn"></i>
             <h3>Compete</h3>
             <p>
                Work hard and innovate to prove yourself the best and win exciting prizes.
             </p>
             <span class="count-number">03</span>
          </div>
        </div>
      </div>
    </div>
  </section>
  <!-- intro Section End -->

  <!-- Counter Area Start-->
  <section class="counter-section section-padding">
    <div class="container">
      <div class="row">
        <!-- Counter Item -->
        <div class="col-lg-3 col-md-6 col-xs-12 work-counter-widget">
          <div class="counter">
            <div class="icon">
              <i class="lni-mic"></i>
            </div>
            <div class="counter-content">
              <div class="counterUp">8</div>
              <p>Problem Statements</p>
            </div>
          </div>
        </div>
        <!-- Counter Item -->
        <div class="col-lg-3 col-md-6 col-xs-12 work-counter-widget">
          <div class="counter">
            <div class="icon">
              <i class="lni-bulb"></i>
            </div>
            <div class="counter-content">
              <div class="counterUp">100</div>
              <p>Participants</p>
            </div>
          </div>
        </div>
        <!-- Counter Item -->
        <div class="col-lg-3 col-md-6 col-xs-12 work-counter-widget">
          <div class="counter">
            <div class="icon">
              <i class="lni-briefcase"></i>
            </div>
            <div class="counter-content">
              <div class="counterUp">5</div>
              <p>Sponsors</p>
            </div>
          </div>
        </div>
        <!-- Counter Item -->
        <div class="col-lg-3 col-md-6 col-xs-12 work-counter-widget">
          <div class="counter">
            <div class="icon">
              <i class="lni-coffee-cup"></i>
            </div>
            <div class="counter-content">
              <div class="counterUp">4</div>
              <p>Judges</p>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>
  <!-- Counter Area End-->

  <!-- Schedule Section Start -->
  <section id="schedules" class="schedule section-padding">
    <div class="container">
      <div class="row">
        <div class="col-12">
          <div class="section-title-header text-center">
            <h2 class="section-title wow fadeInUp" data-wow-delay="0.2s">Event Schedules</h2>
            <p class="wow fadeInDown" data-wow-delay="0.2s">List of important dates in the timeline of our hackathon.</p>
          </div>
        </div>
      </div>
      <div class="row">
        <div class="col-12 mb-5 text-center">
          <ul class="nav nav-tabs" id="myTab" role="tablist">
            <li class="nav-item">
              <a class="nav-link active" data-toggle="tab" role="tab" aria-expanded="true">
                <div class="item-text">
                  <h4>Registration</h4>
                  <h5>February 2021</h5>
                  <p style="font-weight: bold;">Registration Closes<br><br><br></p>
                </div>
              </a>
            </li>
            <li class="nav-item">
              <a class="nav-link" data-toggle="tab" role="tab" aria-expanded="true">
                <div class="item-text">
                  <h4>Day 01</h4>
                  <h5>27 February 2021</h5>
                  <p style="font-weight: bold;">Hackathon Begins<br><br><br></p>
                </div>
              </a>
            </li>
            <li class="nav-item">
              <a class="nav-link" data-toggle="tab" role="tab">
                <div class="item-text">
                  <h4>Day 02</h4>
                  <h5>28 February 2020</h5>
                  <p style="font-weight: bold;">Judging begins<br>Talk session <br>with the Speaker</p>
                </div>
              </a>
            </li>
            <li class="nav-item">
              <a class="nav-link" data-toggle="tab" role="tab">
                <div class="item-text">
                  <h4>Results</h4>
                  <h5>28 February 2020</h5>
                  <p style="font-weight: bold;">Announcement of <br>Winners<br><br></p>
                </div>
              </a>
            </li>
          </ul>
        </div>
       </div>
    </div>
  </section>
  <!-- Schedule Section End -->

  <!-- Speakers Section Start -->
  <section id="speakers" class="section-padding text-center">
    <div class="container">
      <div class="row">
        <div class="col-12">
          <div class="section-title-header text-center">
            <h2 class="section-title wow fadeInUp" data-wow-delay="0.2s">Our Speaker for this Year</h2>
            <p class="wow fadeInDown" data-wow-delay="0.2s">This year we have invited a person who has guided thousands<br>of students to achieve their dreams of working in Dream Companies.</p>
          </div>
        </div>
      </div>
      <div class="row justify-content">
        <div class="col-12 col-sm-12 col-sm-12">
          <!-- Speakers Item Starts -->
          <div class="speakers-item wow fadeInUp" data-wow-delay="0.2s">
            <div class="speakers-img">
              <img class="img-fluid" src="assets/hackathon/img/speaker/sandeep-jain.jpg" alt="Mr. Sandeep Jain">
            </div>
            <div class="info-text">
              <h3><a href="#">Mr. Sandeep Jain</a></h3>
              <p>Founder and CEO, GeeksForGeeks</p>
            </div>
          </div>
          <!-- Speakers Item Ends -->
      <a href="https://www.geeksforgeeks.org/" class="btn btn-common mt-30 wow fadeInUp" data-wow-delay="1.9s">Know More</a>
    </div>
    </div>
    </div>
  </section>
  <!-- Speakers Section End -->

  <!-- Sponsors Section Start -->
  <section id="sponsors" class="section-padding">
    <div class="overlay"></div>
    <div class="container">
      <div class="row">
        <div class="col-12">
          <div class="section-title-header text-center">
            <h2 class="section-title wow fadeInUp" data-wow-delay="0.2s">Sponsors</h2>
            <p class="wow fadeInDown" data-wow-delay="0.2s">We are very grateful to our sponsors, who helped to make this hackathon the very best.</p>
          </div>
        </div>
      </div>
      <div class="row mb-30 text-center wow fadeInDown" data-wow-delay="0.3s">
        <div class="col-lg-12">
          <div class="sponsors-logo text-center">
             <a href=""><img src="assets/hackathon/img/sponsors/logo-1.png" alt=""></a>
             <a href=""><img src="assets/hackathon/img/sponsors/logo-2.png" alt=""></a>
             <a href=""><img src="assets/hackathon/img/sponsors/logo-3.png" alt=""></a>
             <a href=""><img src="assets/hackathon/img/sponsors/logo-4.png" alt=""></a>
             <a href=""><img src="assets/hackathon/img/sponsors/logo-5.png" alt=""></a>
             <a href=""><img src="assets/hackathon/img/sponsors/logo-6.png" alt=""></a>
             <a href=""><img src="assets/hackathon/img/sponsors/logo-7.png" alt=""></a>
             <a href=""><img src="assets/hackathon/img/sponsors/logo-8.png" alt=""></a>
             <a href=""><img src="assets/hackathon/img/sponsors/logo-9.png" alt=""></a>
          </div><!-- sponsors logo end-->
       </div>
      </div>
    </div>
  </section>
  <!-- Sponsors Section End -->

  <!-- Contact Us Section -->
  <section id="contact-us" class="section-padding">
    <div class="container">
      <div class="row">
        <div class="col-12">
          <div class="section-title-header text-center">
            <h2 class="section-title wow fadeInUp" data-wow-delay="0.2s">Contact Us</h2>
            <p class="wow fadeInDown" data-wow-delay="0.2s">In case you have any query, feel free to drop a message below.</p>
          </div>
        </div>
      </div>
      <div class="row justify-content-center">
        <div class="col-lg-8 col-md-12 col-xs-12">
          <div class="container-form wow fadeInLeft" data-wow-delay="0.2s">
            <div class="form-wrapper">
              <form role="form" method="post" id="contactForm" name="contact-form" data-toggle="validator">
                <div class="row">
                  <div class="col-md-6 form-line">
                    <div class="form-group">
                      <input type="text" class="form-control" id="name" name="email" placeholder="Name" required data-error="Please enter your name">
                      <div class="help-block with-errors"></div>
                    </div>
                  </div>
                  <div class="col-md-6 form-line">
                    <div class="form-group">
                      <input type="email" class="form-control" id="email" name="email" placeholder="E-Mail" required data-error="Please enter your Email">
                      <div class="help-block with-errors"></div>
                    </div> 
                  </div>
                  <div class="col-md-12 form-line">
                    <div class="form-group">
                      <input type="tel" class="form-control" id="msg_subject" name="subject" placeholder="Subject" required data-error="Please enter your message subject">
                      <div class="help-block with-errors"></div>
                    </div>
                  </div>
                  <div class="col-md-12">
                    <div class="form-group">
                      <textarea class="form-control" rows="4" id="message" name="message" placeholder="Message" required data-error="Write your message"></textarea>
                    </div>
                    <div class="form-submit">
                      <button type="submit" class="btn btn-common" id="form-submit"><i class="fa fa-paper-plane" aria-hidden="true"></i>  Send Message</button>
                      <div id="msgSubmit" class="h3 text-center hidden"></div>
                    </div>
                  </div>
                </div>
              </form>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>
  <!-- Contact Us Section End -->

<footer>
    <div class="footer-logo">
        <img src="assets/hackathon/img/logo.png" alt="Hack-a-Sol">
    </div>
    <div class="site-info">
        <p>Follow TSoC on Social Media</p>
    </div>
    <div class="social-icons-footer">
        <ul>
            <li class="instagram"><a target="_blank" href="https://www.instagram.com/tsoc_iiitnr/"><i class="lni-instagram"></i></a></li>
            <li class="facebook"><a target="_blank" href="https://www.facebook.com/tsoc.iiitnr/"><i class="lni-facebook-filled"></i></a></li>
            <li class="linkedin"><a target="_blank" href="https://www.linkedin.com/company/tsoc-iiitnr/"><i class="lni-linkedin-filled"></i></a></li>
            <li class="youtube"><a target="_blank" href="https://www.youtube.com/channel/UCW8FjxYiUnvuSqHbYEdseLQ/"><i class="fa fa-youtube"></i></a></li>
            <li class="website"><a target="_blank" href="https://iiitnr-tsoc.github.io/"><i class="fa fa-desktop"></i></a></li>
        </ul>
    </div>
</footer>

  <!-- Go to Top Link -->
  <a href="#" class="back-to-top">
      <i class="lni-chevron-up"></i>
  </a>

  <!-- <div id="preloader">
    <div class="sk-circle">
      <div class="sk-circle1 sk-child"></div>
      <div class="sk-circle2 sk-child"></div>
      <div class="sk-circle3 sk-child"></div>
      <div class="sk-circle4 sk-child"></div>
      <div class="sk-circle5 sk-child"></div>
      <div class="sk-circle6 sk-child"></div>
      <div class="sk-circle7 sk-child"></div>
      <div class="sk-circle8 sk-child"></div>
      <div class="sk-circle9 sk-child"></div>
      <div class="sk-circle10 sk-child"></div>
      <div class="sk-circle11 sk-child"></div>
      <div class="sk-circle12 sk-child"></div>
    </div>
  </div> -->