<nav class="navbar navbar-expand-lg sticky-top">
    <a class="navbar-brand" routerLink="/hack-a-sol">
        <b>Hack-a-Sol</b>
    </a>
    
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarMobile">
        <span class="navbar-toggler-icon"></span>
    </button>
    
    <div class="collapse navbar-collapse" id="navbarMobile">
        <ul class="navbar-nav nav-pills ml-auto">
            <li class="nav-item">
                <a class="nav-link" routerLinkActive="active" routerLink="/hack-a-sol" [routerLinkActiveOptions]="{ exact: true }">Home</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" routerLinkActive="active" routerLink="/hack-a-sol">About</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" routerLinkActive="active" routerLink="/hack-a-sol">Our Sponsors</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" routerLinkActive="active" routerLink="/hack-a-sol">Contact Us</a>
            </li>
        </ul>
    </div>
</nav>
<hr>

<ul>
    <li>Overview</li>
    <li>Rules</li>
    <li>Prizes</li>
    <li>Requirements</li>
    <li>Registration / How to Enter</li>
    <li>Judges</li>
    <li>Judging Criteria</li>
    <li>Themes</li>
    <li>FAQs</li>
</ul>