<div class="container">
  <h2>All Clubs</h2>
  <p *ngFor="let club of clubs;index">
    {{club.name}}
  </p>
</div>


<div class="container">

  <table style="border:5,dotted, black;">
    <th *ngFor="let column of header">
      {{column}}
    </th>
    <tbody>
      <tr *ngFor="let c of clubs;index as i">
        <td>
          {{i+1}}
        </td>
        <td>{{c.name}}</td>
        <td>{{c.about}}</td>
        <td>{{c.team}}</td>
        <td>{{c._id}}</td>
        
      </tr>
    </tbody>
  </table>



  <table style="margin-top: 50px;border: 1px,dotted,blue;">
    <tbody>
      <tr *ngFor="let event of newEvent[0];index as i">
        <td>{{i+1}}</td>
        <td>{{event.date}}</td>
        <td>{{event.eventName}}</td>

      </tr>
    </tbody>
  </table>
</div>

<div class="container">
  <form [formGroup]="newClubForm" name="newClubForm">
    <input type="text" id="clubName" formControlName="name"  placeholder="club name">
    <input type="text" id="clubAbout" formControlName="about"  placeholder="about the club">
    <button type="button" (click)="newClub()">Submit</button> 
  </form>
</div>





<div class="row text-center">
  <div class="col-md-4">
    <div class="btn-group">
      <div
        class="btn btn-primary"
        mwlCalendarPreviousView
        [view]="view"
        [(viewDate)]="viewDate"
        (viewDateChange)="closeOpenMonthViewDay()"
      >
        Previous
      </div>
      <div
        class="btn btn-outline-secondary"
        mwlCalendarToday
        [(viewDate)]="viewDate"
      >
        Today
      </div>
      <div
        class="btn btn-primary"
        mwlCalendarNextView
        [view]="view"
        [(viewDate)]="viewDate"
        (viewDateChange)="closeOpenMonthViewDay()"
      >
        Next
      </div>
    </div>
  </div>
  <div class="col-md-4">
    <h3>{{ viewDate | calendarDate:(view + 'ViewTitle'):'en' }}</h3>
  </div>
 
</div>
<br />
<div [ngSwitch]="view" class="col-md-5">
  <mwl-calendar-month-view
    [viewDate]="viewDate"
    [events]="events"
    [refresh]="refresh"
    [activeDayIsOpen]="activeDayIsOpen"
    (dayClicked)="dayClicked($event.day)"
  >
  </mwl-calendar-month-view>
  
</div>

