<h1 style="text-align: center; margin: 20px 0; ">The SAC Team</h1>
<div class="accordion" id="accordionExample">
    <div class="card">
        <div class="card-header collapsed" id="headingOne">
            <h2 class="mb-0">
                <button class="btn btn-block text-left btn-outline-secondary btn-lg" type="button"
                    data-toggle="collapse" data-target="#collapseOne" aria-expanded="true" aria-controls="collapseOne"
                    style="padding-top:10px; padding-left:10px; padding-bottom:10px;">
                    Academic Year 2020-21
                </button>
            </h2>
        </div>

        <div id="collapseOne" class="collapse show" aria-labelledby="headingOne" data-parent="#accordionExample">
            <div class="card-body">
                <div class="CONT">

                    <div class="container">
                        <div class="zero" style="width: 18rem;">
                            <img src="assets\team-20-21\venkanna_u.jpg" class="card-img-top" alt="...">
                            <div class="card-body">
                                <h3 class="c">Dr. Venkanna U.</h3>
                                <h5 class="d">SAC President</h5>

                            </div>
                        </div>
                    </div>


                    <div class="container">
                        <div class="one" style="width: 18rem;">

                            <img src="assets\team-20-21\prince_yadav.jpg" class="card-img-top">

                            <div class="card-body">
                                <h3 class="c">Prince Yadav</h3>
                                <h5 class="d">UG Representative (Boys)</h5>

                            </div>
                        </div>

                        <div class="two" style="width: 18rem;">

                            <img src="assets\team-20-21\vidhi_sharma.jpg"
                                class="card-img-top embed-responsive-item" alt="..." style="">

                            <div class="card-body">
                                <h3 class="c">Vidhi Sharma</h3>
                                <h5 class="d">UG Representative (Girls)</h5>

                            </div>
                        </div>
                    </div>
                    <div class="container">
                        <div class="three" style="width: 18rem;">
                            <img src="assets\team-20-21\samar_lal.jpeg" class="card-img-top" alt="...">
                            <div class="card-body">
                                <h3 class="c">Samar Lal</h3>
                                <h5 class="d">Arts,Cultural and Literary Secretary (Boys)</h5>

                            </div>
                        </div>

                        <div class="four" style="width: 18rem;">
                            <img src="assets\team-20-21\palak_chandrakar.jpg" class="card-img-top" alt="...">
                            <div class="card-body">
                                <h3 class="c">Palak Chandrakar</h3>
                                <h5 class="d">Arts,Cultural and Literary Secretary (Girls)</h5>

                            </div>
                        </div>
                    </div>
                    <div class="container">

                        <div class="five" style="width: 18rem;">
                            <img src="assets\team-20-21\abhay_bagh.jpg" class="card-img-top" alt="...">
                            <div class="card-body">
                                <h3 class="c">Abhay Bagh</h3>
                                <h5 class="d">Sports Secretary(Boys)</h5>

                            </div>
                        </div>

                        <div class="six" style="width: 18rem;">
                            <img src="assets\team-20-21\rashi_bagga.jpeg" class="card-img-top" alt="...">
                            <div class="card-body">
                                <h3 class="c">Rashi Bagga</h3>
                                <h5 class="d">Sports Secretary (Girls)</h5>

                            </div>
                        </div>
                    </div>
                    <div class="container">
                        <div class="seven" style="width: 18rem;">
                            <img src="assets\team-20-21\alluri_lsv_siddhartha_varma.jpg" class="card-img-top" alt="...">
                            <div class="card-body">
                                <h3 class="c">Alluri LSV Siddhartha Varma</h3>
                                <h5 class="d">Science and Technology Secretary (Boys)</h5>

                            </div>
                        </div>
                        <div class="eight" style="width: 18rem;">
                            <img src="assets\team-20-21\sakshi_kumari.jpg" class="card-img-top" alt="...">
                            <div class="card-body">
                                <h3 class="c">Sakshi Kumari</h3>
                                <h5 class="d">Science and Technology Secretary (Girls)</h5>

                            </div>
                        </div>


                    </div>
                    <div class="container">
                        <div class="nine" style="width: 18rem;">
                            <img src="assets\team-20-21\saumya_bhatnagar.jpeg" class="card-img-top" alt="...">
                            <div class="card-body">
                                <h3 class="c">Soumya Bhatnagar</h3>
                                <h5 class="d">Website Management Head</h5>

                            </div>
                        </div>
                        <div class="ten" style="width: 18rem;">
                            <img src="assets\team-20-21\himanshu_patel.jpeg" class="card-img-top" alt="...">
                            <div class="card-body">
                                <h3 class="c">Himanshu Patel</h3>
                                <h5 class="d">Website Management Head</h5>

                            </div>
                        </div>


                    </div>
                    <div class="container">
                        <div class="eleven" style="width: 18rem;">
                            <img src="assets/user.png" class="card-img-top" alt="...">
                            <div class="card-body">
                                <h3 class="c">Sidhart Singh</h3>
                                <h5 class="d">Website Management Team</h5>

                            </div>
                        </div>
                        <div class="twelve" style="width: 18rem;">
                            <img src="assets/user.png" class="card-img-top" alt="...">
                            <div class="card-body">
                                <h3 class="c">Ankit Sharma</h3>
                                <h5 class="d">Website Management Team</h5>

                            </div>
                        </div>
                        <div class="thirteen" style="width: 18rem;">
                            <img src="assets/user.png" class="card-img-top" alt="...">
                            <div class="card-body">
                                <h3 class="c">Vipul Sangode</h3>
                                <h5 class="d">Website Management Team</h5>

                            </div>
                        </div>

                        <div class="fourteen" style="width: 18rem;">
                            <img src="assets/user.png" class="card-img-top" alt="...">
                            <div class="card-body">
                                <h3 class="c">Annapragada Nishant</h3>
                                <h5 class="d">Website Management Team</h5>

                            </div>
                        </div>

                    </div>

                    <div class="container">
                        <div class="fifteen" style="width: 18rem;">
                            <img src="assets/user.png" class="card-img-top" alt="...">
                            <div class="card-body">
                                <h3 class="c">Trilok Yadav </h3>
                                <h5 class="d">Marketing Head</h5>

                            </div>
                        </div>
                        <div class="sixteen" style="width: 18rem;">
                            <img src="assets\team-20-21\shreyas_lall.jpeg" class="card-img-top" alt="...">
                            <div class="card-body">
                                <h3 class="c">Shreyas Lall</h3>
                                <h5 class="d">Design Team Head</h5>

                            </div>
                        </div>

                    </div>

                    <div class="container">
                        <div class="seventeen" style="width: 18rem;">
                            <img src="assets\team-20-21\apurv_rai.jpeg" class="card-img-top" alt="...">
                            <div class="card-body">
                                <h3 class="c">Apurv Rai</h3>
                                <h5 class="d">Design Team</h5>

                            </div>
                        </div>
                        <div class="eighteen" style="width: 18rem;">
                            <img src="assets\team-20-21\ayush_tirkey.jpg" class="card-img-top" alt="...">
                            <div class="card-body">
                                <h3 class="c">Ayush Tirkey</h3>
                                <h5 class="d">Design Management Team</h5>

                            </div>
                        </div>
                        <div class="nineteen" style="width: 18rem;">
                            <img src="assets\team-20-21\sonal_singh.jpg" class="card-img-top" alt="...">
                            <div class="card-body">
                                <h3 class="c">Sonal Singh</h3>
                                <h5 class="d">Design Team</h5>

                            </div>
                        </div>



                    </div>

                    <div class="container">
                        <div class="twenty" style="width: 18rem;">
                            <img src="assets/user.png" class="card-img-top" alt="...">
                            <div class="card-body">
                                <h3 class="c">Shalini Lodhi</h3>
                                <h5 class="d">Design Team</h5>

                            </div>
                        </div>
                        <div class="twenty_one" style="width: 18rem;">
                            <img src="assets/user.png" class="card-img-top" alt="...">
                            <div class="card-body">
                                <h3 class="c">Shivangini Prasad</h3>
                                <h5 class="d">Design Management Team</h5>

                            </div>
                        </div>
                        <div class="twenty_two" style="width: 18rem;">
                            <img src="assets\team-20-21\vamsi_k_reddy_copy.jpg" class="card-img-top" alt="...">
                            <div class="card-body">
                                <h3 class="c">Vamsi Reddy</h3>
                                <h5 class="d">Design Team</h5>

                            </div>
                        </div>



                    </div>


                </div>






            </div>

        </div>
    </div>
</div>
<div class="card">
    <div class="card-header" id="headingTwo">
        <h2 class="mb-0">
            <button class="btn btn-block text-left btn-outline-secondary  btn-lg" type="button" data-toggle="collapse"
                data-target="#collapseTwo" aria-expanded="false" aria-controls="collapseTwo"
                style="padding-top:10px; padding-left:10px; padding-bottom:10px;">
                Academic Year 2019-2020
            </button>
        </h2>
    </div>
    <div id="collapseTwo" class="collapse" aria-labelledby="headingTwo" data-parent="#accordionExample">
        <div class="card-body">
            <div class="CONT">

                <div class="container">
                    <div class="zero" style="width: 18rem;">
                        <img src="assets\team-20-21\venkanna_u.jpg" class="card-img-top" alt="...">
                        <div class="card-body">
                            <h3 class="c">Dr. Venkanna U.</h3>
                            <h5 class="d">SAC President</h5>

                        </div>
                    </div>
                </div>


                <div class="container">
                    <div class="one" style="width: 18rem;">
                        <img src="assets\team-19-20\nitin_chandra.jpg" class="card-img-top">
                        <div class="card-body">
                            <h3 class="c">Nitin Chandra</h3>
                            <h5 class="d">UG Representative (Boys)</h5>

                        </div>
                    </div>

                    <div class="two" style="width: 18rem;">
                        <img src="assets\team-19-20\sriyuta_srivastava.jpg" class="card-img-top" alt="...">
                        <div class="card-body">
                            <h3 class="c">Sriyuta Srivastava</h3>
                            <h5 class="d">UG Representative (Girls)</h5>

                        </div>
                    </div>
                </div>
                <div class="container">
                    <div class="three" style="width: 18rem;">
                        <img src="assets\team-19-20\rituraj_kushwaha.jpg" class="card-img-top" alt="...">
                        <div class="card-body">
                            <h3 class="c">Rituraj Kushwaha</h3>
                            <h5 class="d">Arts,Cultural and Literary Secretary (Boys)</h5>

                        </div>
                    </div>

                    <div class="four" style="width: 18rem;">
                        <img src="assets\team-19-20\manorama_singh_rathore.jpg" class="card-img-top" alt="...">
                        <div class="card-body">
                            <h3 class="c">Manorama Singh Rathore</h3>
                            <h5 class="d">Arts,Cultural and Literary Secretary (Girls)</h5>

                        </div>
                    </div>
                </div>
                <div class="container">

                    <div class="five" style="width: 18rem;">
                        <img src="assets\team-19-20\pushpak_singh_tawar.jpg" class="card-img-top" alt="...">
                        <div class="card-body">
                            <h3 class="c">Pushpak Singh Tawar</h3>
                            <h5 class="d">Sports Secretary (Boys)</h5>

                        </div>
                    </div>

                    <div class="six" style="width: 18rem;">
                        <img src="assets\team-19-20\likitha_bonda.jpg" class="card-img-top" alt="...">
                        <div class="card-body">
                            <h3 class="c">Likitha Bonda</h3>
                            <h5 class="d">Sports Secretary (Girls)</h5>

                        </div>
                    </div>
                </div>
                <div class="container">
                    <div class="seven" style="width: 18rem;">
                        <img src="assets\team-19-20\jatin_aditya_reddy.jpg" class="card-img-top" alt="...">
                        <div class="card-body">
                            <h3 class="c">Jatin Aditya Reddy</h3>
                            <h5 class="d">Science and Technology Secretary (Boys)</h5>

                        </div>
                    </div>
                    <div class="eight" style="width: 18rem;">
                        <img src="assets\team-19-20\tina_sahu.jpeg" class="card-img-top" alt="...">
                        <div class="card-body">
                            <h3 class="c">Tina Sahu</h3>
                            <h5 class="d">Science and Technology Secretary (Girls)</h5>

                        </div>
                    </div>


                </div>



            </div>

        </div>
    </div>
</div>
<div class="card">
    <div class="card-header" id="headingThree">
        <h2 class="mb-0">
            <button class="btn btn-block text-left btn-outline-secondary btn-lg" type="button" data-toggle="collapse"
                data-target="#collapseThree" aria-expanded="false" aria-controls="collapseThree"
                style="padding-top:10px; padding-left:10px; padding-bottom:10px;">
                Acdemic Year 2018-19
            </button>
        </h2>
    </div>
    <div id="collapseThree" class="collapse" aria-labelledby="headingThree" data-parent="#accordionExample">
        <div class="card-body">
            <div class="CONT">

                <div class="container">
                    <div class="zero" style="width: 18rem;">
                        <img src="assets\team-20-21\venkanna_u.jpg" class="card-img-top" alt="...">
                        <div class="card-body">
                            <h3 class="c">Dr. Venkanna U.</h3>
                            <h5 class="d">SAC President</h5>

                        </div>
                    </div>
                </div>


                <div class="container">
                    <!--
                    <div class="one">
                        <img src="assets/user.png" class="pic">
                        <h3 class="c">Prince Yadav</h3>
                        <h5 class="d">UG Representative (Boys)</h5>
                    </div>-->
                    <div class="one" style="width: 18rem;">
                        <img src="assets\team-18-19\vishal_pallagani.jpg" class="card-img-top">
                        <div class="card-body">
                            <h3 class="c">Vishal Pallagani</h3>
                            <h5 class="d">UG Representative (Boys)</h5>

                        </div>
                    </div>

                    <div class="two" style="width: 18rem;">
                        <img src="assets\team-18-19\ankita_jha.jpg" class="card-img-top" alt="...">
                        <div class="card-body">
                            <h3 class="c">Ankita Jha</h3>
                            <h5 class="d">UG Representative (Girls)</h5>

                        </div>
                    </div>
                </div>
                <div class="container">
                    <div class="three" style="width: 18rem;">
                        <img src="assets\team-18-19\rasheed_ahmed.jpg" class="card-img-top" alt="...">
                        <div class="card-body">
                            <h3 class="c">Rasheed Ahmed</h3>
                            <h5 class="d">Arts,Cultural and Literary Secretary (Boys)</h5>

                        </div>
                    </div>

                    <div class="four" style="width: 18rem;">
                        <img src="assets\team-18-19\aditia_agrahari.jpg" class="card-img-top" alt="...">
                        <div class="card-body">
                            <h3 class="c">Aditi Agrahari</h3>
                            <h5 class="d">Arts,Cultural and Literary Secretary (Girls)</h5>

                        </div>
                    </div>
                </div>
                <div class="container">

                    <div class="five" style="width: 18rem;">
                        <img src="assets\team-18-19\nirbhay_giri.jpg" class="card-img-top" alt="...">
                        <div class="card-body">
                            <h3 class="c">Nirbhay Giri</h3>
                            <h5 class="d">Sports Secretary (Boys)</h5>

                        </div>
                    </div>

                    <div class="six" style="width: 18rem;">
                        <img src="assets\team-18-19\minakshee_shukla.jpg" class="card-img-top" alt="...">
                        <div class="card-body">
                            <h3 class="c">Minakshee Shukla</h3>
                            <h5 class="d">Sports Secretary (Girls)</h5>

                        </div>
                    </div>
                </div>
                <div class="container">
                    <div class="seven" style="width: 18rem;">
                        <img src="assets\team-18-19\kushashwa_ravi_shrimali.png" class="card-img-top" alt="...">
                        <div class="card-body">
                            <h3 class="c">Kushashwa Ravi Shrimali</h3>
                            <h5 class="d">Science and Technology Secretary (Boys)</h5>

                        </div>
                    </div>
                    <div class="eight" style="width: 18rem;">
                        <img src="assets\team-18-19\priyanka_mall.jpg" class="card-img-top" alt="...">
                        <div class="card-body">
                            <h3 class="c">Priyanka Mall</h3>
                            <h5 class="d">Science and Technology Secretary (Girls)</h5>

                        </div>
                    </div>





                </div>

            </div>
        </div>
    </div>
</div>