.card-wrapper {
  display: flex;
  align-items: center;
  align-content: center;
  flex-direction: column;
}

.cardi {
  width: 250px;
  height: 300px;
  /* background:rgb(217, 217, 217); */
  background-image:linear-gradient(rgb(251, 236, 192), rgb(206, 207, 207));
  display: flex;
  text-align: center;
  align-items: center;
  flex-direction: column;
  justify-content: center;
  margin: 4.5rem 1rem;
  border: 1px solid rgba(0, 0, 0, 0.2);
  border-radius: 0.5rem 0.5rem 0 0;
  box-shadow: .5rem  .5rem 2rem rgba(0, 0, 0, 0.7);
}

.cardi-sub {
  width: 200px;
  height: 275px;
  background-color: #ebeef8;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  box-shadow: .5rem  .5rem 3rem rgba(0, 0, 0, 0.2);
}

.cardi .cardi-img {
  width: 100%;
  height: 250px;
  object-fit: cover;
  -webkit-clip-path: polygon(0 0, 100% 0, 100% 70%, 0% 100%);
  clip-path: polygon(0 0, 100% 78%, 0% 100%);
}

.club-icon {
  width: 200px;
  height: 200px;
  object-fit: cover;
  border-radius: 50%;
  margin-top: -5rem;
  z-index: 999;
  border: 0.75rem solid #a1a1a1;
  box-shadow: .5rem  .5rem 2rem rgba(0, 0, 0, 0.9);
}

.cardi h1 {
  font-size: 20px;
  color: #333;
  margin: 1.5rem 0;
}

.club-heading {
  color: #444;
  font-size: 17px;
  font-weight: 700;
  margin-top: 40px;
  font-family: 'Lora', serif;
}

.about-club {
  color: #555;
  font-size: 19px;
  font-weight: 400;
  /* margin: .25rem 0; */
  text-align: center;
  /* font-family: 'Oxygen', sans-serif; */
}

.pic {
  height: 260px;
  width: 260px;
  border-radius: 50%;
}

.c {
  color: black;
  text-align: center;
  background-color: gray;
}

.d {
  color: black;
  text-align: center;
  background-color: gray;
}

.text-teams {
  font-size: 2rem;
  font-family: 'Oxygen', sans-serif;
  /* margin-right: 2.5rem; */
}

@media screen and (min-width: 700px) {
  .card-wrapper {
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: center;
    align-items: center;
  }
  
  .cardi {
    margin-left: 5rem;
    transition: transform .5s;
  }
  
  .text-teams {
    font-size: 3rem;
    font-family: 'Oxygen', sans-serif;
    margin-left: 3rem;
  } 
  
  @keyframes fadeIn {
      from {
          opacity: 0;
      }
      to {
          opacity: 1;
      }
  }
  
  .cardi:nth-child(1){
    animation: fadeIn .5s 0.5s backwards;
  }
  
  .cardi:nth-child(2) {
    animation: fadeIn .5s 1.0s backwards;
  }
  
  .cardi:nth-child(3) {
    animation: fadeIn .5s 1.5s backwards;
  }
  
  .cardi:nth-child(4) {
    animation: fadeIn .5s 2.0s backwards;
  }
  
  .cardi:nth-child(5) {
    animation: fadeIn .5s 2.5s backwards;
  }

  .cardi:nth-child(6) {
    animation: fadeIn .5s 3.0s backwards;
  }

  .cardi:nth-child(7) {
    animation: fadeIn .5s 3.5s backwards;
  }
  
  .cardi:hover {
    transform: scale(1.05);
  }
}