<h1 class="text-center">The SAC Team</h1>
<div class="accordion" id="accordionExample">
        
    <div class="card">
        <div class="card-header collapsed" id="headingOne">
            <h2 class="mb-0">
                <button class="btn btn-block text-left btn-outline-secondary btn-lg" type="button"
                    data-toggle="collapse" data-target="#collapseOne" aria-expanded="true" aria-controls="collapseOne"
                    style="padding-top:10px; padding-left:10px; padding-bottom:10px;">
                    Academic Year 2020-2021
                </button>
            </h2>
        </div>

        <div id="collapseOne" class="collapse show" aria-labelledby="headingOne" data-parent="#accordionExample">
            <div class="row justify-content-center">
                <div class="cardi">
                    <img src="assets/team-20-21/venkanna_u.jpg" alt="Dr. Venkanna U" class="club-icon">
                    <p class="club-heading">Dr. Venkanna U</p>
                    <p class="about-club">SAC President</p>
                </div>
            </div>
            <div class="row justify-content-center">
                <div class="cardi">
                    <img src="assets/team-20-21/prince_yadav.jpg" alt="Prince Yadav" class="club-icon">
                    <p class="club-heading">Prince Yadav</p>
                    <p class="about-club">UG Representative (Boys)</p>
                </div>
                <div class="cardi">
                    <img src="assets/team-20-21/vidhi_sharma.jpg" alt="Vidhi Sharma" class="club-icon">
                    <p class="club-heading">Vidhi Sharma</p>
                    <p class="about-club">UG Representative (Girls)</p>
                </div>
            </div>
            <div class="row justify-content-center">
                <div class="cardi">
                    <img src="assets/team-20-21/alluri_lsv_siddhartha_varma.jpg" alt="Alluri LSV Siddhartha Varma" class="club-icon">
                    <p class="club-heading">Alluri LSV Siddhartha Varma</p>
                    <p class="about-club">Science and Technology Secretary (Boys)</p>
                </div>
                <div class="cardi">
                    <img src="assets/team-20-21/sakshi_kumari.jpg" alt="Sakshi Kumari" class="club-icon">
                    <p class="club-heading">Sakshi Kumari</p>
                    <p class="about-club">Science and Technology Secretary (Girls)</p>
                </div>
            </div>
            
            <div class="row justify-content-center">
                <div class="cardi">
                    <img src="assets/team-20-21/samar_lal.jpg" alt="Samar Lal" class="club-icon">
                    <p class="club-heading">Samar Lal</p>
                    <p class="about-club">Arts, Cultural and Literary Secretary (Boys)</p>
                </div>
                <div class="cardi">
                    <img src="assets/team-20-21/palak_chandrakar.jpg" alt="Palak Chandrakar" class="club-icon">
                    <p class="club-heading">Palak Chandrakar</p>
                    <p class="about-club">Arts, Cultural and Literary Secretary (Girls)</p>
                </div>
            </div>
            
            <div class="row justify-content-center">
                <div class="cardi">
                    <img src="assets/team-20-21/abhay_bagh.jpg" alt="Abhay Bagh" class="club-icon">
                    <p class="club-heading">Abhay Bagh</p>
                    <p class="about-club">Sports Secretary (Boys)</p>
                </div>
                <div class="cardi">
                    <img src="assets/team-20-21/rashi_bagga.jpeg" alt="Rashi Bagga" class="club-icon">
                    <p class="club-heading">Rashi Bagga</p>
                    <p class="about-club">Sports Secretary (Girls)</p>
                </div>
            </div>

            <div>
                <h1 class="text-center text-teams">Website Management Team</h1>

                <div class="row justify-content-center">
                    <!-- <div class="cardi-sub"> -->
                    <div class="cardi">
                        <img src="assets/team-20-21/saumya_bhatnagar.jpeg" alt="Saumya Bhatnagar" class="club-icon">
                        <p class="club-heading">Saumya Bhatnagar</p>
                        <p class="about-club">Website Management Head</p>
                    </div>
                    <!-- <div class="cardi-sub"> -->
                    <div class="cardi">
                        <img src="assets/team-20-21/himanshu_patel.jpeg" alt="Himanshu Patel" class="club-icon">
                        <p class="club-heading">Himanshu Patel</p>
                        <p class="about-club">Website Management Head</p>
                    </div>
                </div>
                <div class="row justify-content-center">
                    <!-- <div class="cardi-sub"> -->
                    <div class="cardi">
                        <img src="assets/team-20-21/siddharth_singh.jpg" alt="Siddharth Singh" class="club-icon">
                        <p class="club-heading">Siddarth Singh</p>
                        <p class="about-club">Website Management Team Member</p>
                    </div>
                    <!-- <div class="cardi-sub"> -->
                    <div class="cardi">
                        <img src="assets/team-20-21/vipul_sangode.jpeg" alt="Vipul Sangode" class="club-icon">
                        <p class="club-heading">Vipul Sangode</p>
                        <p class="about-club">Website Management Team Member</p>
                    </div>
                    <!-- <div class="cardi-sub"> -->
                    <div class="cardi">
                        <img src="assets/team-20-21/ankit_sharma.jpeg" alt="Ankit Sharma" class="club-icon">
                        <p class="club-heading">Ankit Sharma</p>
                        <p class="about-club">Website Management Team Member</p>
                    </div>
                    <!-- <div class="cardi-sub"> -->
                    <div class="cardi">
                        <img src="assets/team-20-21/annapragada_nishant.jpg" alt="Annapragada Nishant" class="club-icon">
                        <p class="club-heading">Annapragada Nishant</p>
                        <p class="about-club">Website Management Team Member</p>
                    </div>
                </div>

            </div>

            <div>
                <h1 class="text-center text-teams">Designing & Marketing Team</h1>

                <div class="row justify-content-center">
                    <!-- <div class="cardi-sub"> -->
                    <div class="cardi">
                        <img src="assets/team-20-21/shreyas_lall.jpeg" alt="Shreyas Lall" class="club-icon">
                        <p class="club-heading">Shreyas Lall</p>
                        <p class="about-club">Designing Team Head</p>
                    </div>
                </div>
                <div class="row justify-content-center">
                    <!-- <div class="cardi-sub"> -->
                    <div class="cardi">
                        <img src="assets/team-20-21/apurv_rai.jpeg" alt="Apurv Rai" class="club-icon">
                        <p class="club-heading">Apurv Rai</p>
                        <p class="about-club">Designing Team</p>
                    </div>
                    <!-- <div class="cardi-sub"> -->
                    <div class="cardi">
                        <img src="assets/team-20-21/ayush_tirkey.jpg" alt="Ayush Tirkey" class="club-icon">
                        <p class="club-heading">Ayush Tirkey</p>
                        <p class="about-club">Designing Team</p>
                    </div>
                </div>
                <div class="row justify-content-center">
                    <!-- <div class="cardi-sub"> -->
                    <div class="cardi">
                        <img src="assets/team-20-21/shalini_lodhi.jpg" alt="Shalini Lodhi" class="club-icon">
                        <p class="club-heading">Shalini Lodha</p>
                        <p class="about-club">Designing Team</p>
                    </div>
                    <!-- <div class="cardi-sub"> -->
                    <div class="cardi">
                        <img src="assets/team-20-21/shivangini_prasad.jpg" alt="Shivangini Prasad" class="club-icon">
                        <p class="club-heading">Shivangini Prasad</p>
                        <p class="about-club">Designing Team</p>
                    </div>
                    <!-- <div class="cardi-sub"> -->
                    <div class="cardi">
                        <img src="assets/team-20-21/sonal_singh.jpg" alt="Sonal Singh" class="club-icon">
                        <p class="club-heading">Sonal Singh</p>
                        <p class="about-club">Designing Team</p>
                    </div>
                </div>
            </div>
        </div>
    </div>


    <div class="card">
        <div class="card-header" id="headingTwo">
            <h2 class="mb-0">
                <button class="btn btn-block text-left btn-outline-secondary  btn-lg" type="button"
                    data-toggle="collapse" data-target="#collapseTwo" aria-expanded="false" aria-controls="collapseTwo"
                    style="padding-top:10px; padding-left:10px; padding-bottom:10px;">
                    Academic Year 2019-2020
                </button>
            </h2>
        </div>
        <div id="collapseTwo" class="collapse" aria-labelledby="headingTwo" data-parent="#accordionExample">
            <div class="row justify-content-center">

                <div class="cardi">
                    <img src="assets/team-20-21/venkanna_u.jpg" alt="Dr. Venkanna U" class="club-icon">
                    <p class="club-heading">Dr. Venkanna U</p>
                    <p class="about-club">SAC President</p>
                </div>
            </div>
            <div class="row justify-content-center">
                <div class="cardi">
                    <img src="assets/team-19-20/nitin_chandra.jpg" alt="Nitin Chandra" class="club-icon">
                    <p class="club-heading">Nitin Chandra</p>
                    <p class="about-club">UG Representative (Boys)</p>
                </div>
                <div class="cardi">
                    <img src="assets/team-19-20/sriyuta_srivastava.jpg" alt="Sriyuta Srivastava" class="club-icon">
                    <p class="club-heading">Sriyuta Srivastava</p>
                    <p class="about-club">UG Representative (Girls)</p>
                </div>
            </div>

            <div class="row justify-content-center">
                <div class="cardi">
                    <img src="assets/team-19-20/jatin_aditya_reddy.jpg" alt="Jatin Aditya Reddy" class="club-icon">
                    <p class="club-heading">Jatin Aditya Reddy</p>
                    <p class="about-club">Science and Technology Secretary (Boys)</p>
                </div>
                <div class="cardi">
                    <img src="assets/team-19-20/tina_sahu.jpeg" alt="Tina Sahu" class="club-icon">
                    <p class="club-heading">Tina Sahu</p>
                    <p class="about-club">Science and Technology Secretary (Girls)</p>
                </div>
            </div>

            <div class="row justify-content-center">
                <div class="cardi">
                    <img src="assets/team-19-20/rituraj_kushwaha.jpg" alt="Rituraj Kushwaha" class="club-icon">
                    <p class="club-heading">Rituraj Kushwaha</p>
                    <p class="about-club">Arts, Cultural and Literary Secretary (Boys)</p>
                </div>
                <div class="cardi">
                    <img src="assets/team-19-20/manorama_singh_rathore.jpg" alt="Manorama Singh Rathore" class="club-icon">
                    <p class="club-heading">Manorama Singh Rathore</p>
                    <p class="about-club">Arts, Cultural and Literary Secretary (Girls)</p>
                </div>

            </div>

            <div class="row justify-content-center">
                <div class="cardi">
                    <img src="assets/team-19-20/pushpak_singh_tawar.jpg" alt="Pushpak Singh Tawar" class="club-icon">
                    <p class="club-heading">Pushpak Singh Tawar</p>
                    <p class="about-club">Sports Secretary (Boys)</p>
                </div>
                <div class="cardi">
                    <img src="assets/team-19-20/likitha_bonda.jpg" alt="Likitha Bonda" class="club-icon">
                    <p class="club-heading">Likitha Bonda</p>
                    <p class="about-club">Sports Secretary (Girls)</p>
                </div>
            </div>
        </div>
    </div>

    <div class="card">
        <div class="card-header" id="headingThree">
            <h2 class="mb-0">
                <button class="btn btn-block text-left btn-outline-secondary btn-lg" type="button"
                    data-toggle="collapse" data-target="#collapseThree" aria-expanded="false"
                    aria-controls="collapseThree" style="padding-top:10px; padding-left:10px; padding-bottom:10px;">
                    Acdemic Year 2018-2019
                </button>
            </h2>
        </div>
        <div id="collapseThree" class="collapse" aria-labelledby="headingThree" data-parent="#accordionExample">
            <div class="card-body">
                <div class="row justify-content-center">

                    <div class="cardi">
                        <img src="assets/team-20-21/venkanna_u.jpg" alt="Dr. Venkanna U" class="club-icon">
                        <p class="club-heading">Dr. Venkanna U</p>
                        <p class="about-club">SAC President</p>
                    </div>
                </div>
                <div class="row justify-content-center">
                    <div class="cardi">
                        <img src="assets/team-18-19/vishal_pallagani.jpg" alt="Vishal Pallagani" class="club-icon">
                        <p class="club-heading">Vishal Pallagani</p>
                        <p class="about-club">UG Representative (Boys)</p>
                    </div>
                    <div class="cardi">
                        <img src="assets/team-18-19/ankita_jha.jpg" alt="Ankita Jha" class="club-icon">
                        <p class="club-heading">Ankita Jha</p>
                        <p class="about-club">UG Representative (Girls)</p>
                    </div>
                </div>

                <div class="row justify-content-center">
                    <div class="cardi">
                        <img src="assets/team-18-19/kushashwa_ravi_shrimali.png" alt="Kushashwa Ravi Shrimali" class="club-icon">
                        <p class="club-heading">Kushashwa Ravi Shrimali</p>
                        <p class="about-club">Science and Technology Secretary (Boys)</p>
                    </div>
                    <div class="cardi">
                        <img src="assets/team-18-19/priyanka_mall.jpg" alt="Priyanka Mall" class="club-icon">
                        <p class="club-heading">Priyanka Mall</p>
                        <p class="about-club">Science and Technology Secretary (Girls)</p>
                    </div>
                </div>

                <div class="row justify-content-center">
                    <div class="cardi">
                        <img src="assets/team-18-19/rasheed_ahmed.jpg" alt="Rasheed Ahmed" class="club-icon">
                        <p class="club-heading">Rasheed Ahmed</p>
                        <p class="about-club">Arts, Cultural and Literary Secretary (Boys)</p>
                    </div>
                    <div class="cardi">
                        <img src="assets/team-18-19/aditia_agrahari.jpg" alt="Aditi Agrahari" class="club-icon">
                        <p class="club-heading">Aditi Agrahari</p>
                        <p class="about-club">Arts, Cultural and Literary Secretary (Girls)</p>
                    </div>
                </div>

                <div class="row justify-content-center">
                    <div class="cardi">
                        <img src="assets/team-18-19/nirbhay_giri.jpg" alt="Nirbhay Giri" class="club-icon">
                        <p class="club-heading">Nirbhay Giri</p>
                        <p class="about-club">Sport Secretary (Boys)</p>
                    </div>
                    <div class="cardi">
                        <img src="assets/team-18-19/minakshee_shukla.jpg" alt="Minakshee Shukla" class="club-icon">
                        <p class="club-heading">Minakshee Shukla</p>
                        <p class="about-club">Sports Secretary (Girls)</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>