


.card-wrapper {
  display: flex;
  align-items: center;
  align-content: center;
  flex-direction: column;
}
.cardi {
  width: 250px;
  height: 300px;
  background-color: #ebeef8;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin: 2rem 0;
  
  box-shadow: .5rem  .5rem 3rem rgba(0, 0, 0, 0.2);
}
.cardi-sub {
  width: 200px;
  height: 275px;
  background-color: #ebeef8;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin: 4rem 2rem;
  
  box-shadow: .5rem  .5rem 3rem rgba(0, 0, 0, 0.2);
}
.cardi .cardi-img {
  width: 100%;
  height: 250px;
  object-fit: cover;
  -webkit-clip-path: polygon(0 0, 100% 0, 100% 70%, 0% 100%);
  clip-path: polygon(0 0, 100% 78%, 0% 100%);
}
.club-icon {
  width: 150px;
  height: 150px;
  object-fit: cover;
  border-radius: 50%;
  margin-top: -11rem;
  z-index: 999;
  border: 1rem solid #ebeef8;
}
.cardi h1 {
  font-size: 20px;
  color: #333;
  margin: 1.5rem 0;
}

.club-heading {
  color: #777;
  font-size: 20px;
  font-weight: 300;
  margin-top: 20px;
}

.about-club {
  font-size: 20px;
  margin: 1.5rem 0;
 
  text-align: center;
  color: #333;
}


.pic {
  height: 260px;
  width: 260px;
  border-radius: 50%;
}

.c {
  color: black;
  text-align: center;
  background-color: gray;
}
.d {
  color: black;
  text-align: center;
  background-color: gray;
}

@media screen and (min-width: 700px) {
  .card-wrapper {
      flex-direction: row;
      flex-wrap: wrap;
      justify-content: center;
      align-items: center;
  }
  .cardi {
      margin-left: 5rem;
      transition: transform .5s;
  }
  @keyframes fadeIn {
      from {
          opacity: 0;
      }
      to {
          opacity: 1;
      }
  }
  .cardi:nth-child(1){
    animation: fadeIn .5s 0.5s backwards;
  }
  .cardi:nth-child(2) {
      animation: fadeIn .5s 1.0s backwards;
  }
  .cardi:nth-child(3) {
      animation: fadeIn .5s 1.5s backwards;
  }
  .cardi:nth-child(4) {
      animation: fadeIn .5s 2.0s backwards;
  }
  .cardi:nth-child(5) {
    animation: fadeIn .5s 2.5s backwards;
}
.cardi:nth-child(6) {
  animation: fadeIn .5s 3.0s backwards;
}
.cardi:nth-child(7) {
  animation: fadeIn .5s 3.5s backwards;
}
  .cardi:hover {
      transform: scale(1.05);
  }
}
