<div class="CONT">

    <div class="container">
        <div class="zero" style="width: 18rem;">
            <img src="assets/user.png" class="card-img-top" alt="...">
            <div class="card-body">
                <h3 class="c">Dr. Venkanna U.</h3>
                <h5 class="d">SAC President</h5>

            </div>
        </div>
    </div>


    <div class="container">
        <!--
            <div class="one">
                <img src="assets/user.png" class="pic">
                <h3 class="c">Prince Yadav</h3>
                <h5 class="d">UG Representative(Boys)</h5>
            </div>-->
        <div class="one" style="width: 18rem;">
            <img src="assets/user.png" class="card-img-top">
            <div class="card-body">
                <h3 class="c">Prince Yadav</h3>
                <h5 class="d">UG Representative(Boys)</h5>

            </div>
        </div>

        <div class="two" style="width: 18rem;">
            <img src="assets/user.png" class="card-img-top" alt="...">
            <div class="card-body">
                <h3 class="c">Vidhi Sharma</h3>
                <h5 class="d">UG Representative(Girls)</h5>

            </div>
        </div>
    </div>
    <div class="container">
        <div class="three" style="width: 18rem;">
            <img src="assets/user.png" class="card-img-top" alt="...">
            <div class="card-body">
                <h3 class="c">Samar Lal</h3>
                <h5 class="d">Arts,Cultural and Literary Secretary(Boys)</h5>

            </div>
        </div>

        <div class="four" style="width: 18rem;">
            <img src="assets/user.png" class="card-img-top" alt="...">
            <div class="card-body">
                <h3 class="c">Palak Chandrakar</h3>
                <h5 class="d">Arts,Cultural and Literary Secretary(Girls)</h5>

            </div>
        </div>
    </div>
    <div class="container">

        <div class="five" style="width: 18rem;">
            <img src="assets/user.png" class="card-img-top" alt="...">
            <div class="card-body">
                <h3 class="c">Abhay Bagh</h3>
                <h5 class="d">Sports Secretary(Boys)</h5>

            </div>
        </div>

        <div class="six" style="width: 18rem;">
            <img src="assets/user.png" class="card-img-top" alt="...">
            <div class="card-body">
                <h3 class="c">Rashi Bagga</h3>
                <h5 class="d">Sports Secretary(Girls)</h5>

            </div>
        </div>
    </div>
    <div class="container">
        <div class="seven" style="width: 18rem;">
            <img src="assets/user.png" class="card-img-top" alt="...">
            <div class="card-body">
                <h3 class="c">Alluri LSV Siddhartha Varma</h3>
                <h5 class="d">Science and Technology Secretary(Boys)</h5>

            </div>
        </div>
        <div class="eight" style="width: 18rem;">
            <img src="assets/user.png" class="card-img-top" alt="...">
            <div class="card-body">
                <h3 class="c">Sakshi Kumari</h3>
                <h5 class="d">Science and Technology Secretary(Girls)</h5>

            </div>
        </div>


    </div>
    <div class="container">
        <div class="nine" style="width: 18rem;">
            <img src="assets/user.png" class="card-img-top" alt="...">
            <div class="card-body">
                <h3 class="c">Soumya </h3>
                <h5 class="d">Website Management Head</h5>

            </div>
        </div>
        <div class="ten" style="width: 18rem;">
            <img src="assets/user.png" class="card-img-top" alt="...">
            <div class="card-body">
                <h3 class="c">Himanshu</h3>
                <h5 class="d">Website Management Head</h5>

            </div>
        </div>


    </div>
    <div class="container">
        <div class="eleven" style="width: 18rem;">
            <img src="assets/user.png" class="card-img-top" alt="...">
            <div class="card-body">
                <h3 class="c">Sidhart Singh</h3>
                <h5 class="d">Website Management Team</h5>

            </div>
        </div>
        <div class="twelve" style="width: 18rem;">
            <img src="assets/user.png" class="card-img-top" alt="...">
            <div class="card-body">
                <h3 class="c">Ankit Sharma</h3>
                <h5 class="d">Website Management Team</h5>

            </div>
        </div>
        <div class="thirteen" style="width: 18rem;">
            <img src="assets/user.png" class="card-img-top" alt="...">
            <div class="card-body">
                <h3 class="c">Vipul Sangode</h3>
                <h5 class="d">Website Management Team</h5>

            </div>
        </div>

    </div>
    <div class="container">
        <div class="fourteen" style="width: 18rem;">
            <img src="assets/user.png" class="card-img-top" alt="...">
            <div class="card-body">
                <h3 class="c">Soumya </h3>
                <h5 class="d">Design Team Head</h5>

            </div>
        </div>
        <div class="fifteen" style="width: 18rem;">
            <img src="assets/user.png" class="card-img-top" alt="...">
            <div class="card-body">
                <h3 class="c">Himanshu</h3>
                <h5 class="d">Design Team Head</h5>

            </div>
        </div>


    </div>
    <div class="container">
        <div class="sixteen" style="width: 18rem;">
            <img src="assets/user.png" class="card-img-top" alt="...">
            <div class="card-body">
                <h3 class="c">Sidhart Singh</h3>
                <h5 class="d">Design Team</h5>

            </div>
        </div>
        <div class="seventeen" style="width: 18rem;">
            <img src="assets/user.png" class="card-img-top" alt="...">
            <div class="card-body">
                <h3 class="c">Ankit Sharma</h3>
                <h5 class="d">Design Team</h5>

            </div>
        </div>
        <div class="eighteen" style="width: 18rem;">
            <img src="assets/user.png" class="card-img-top" alt="...">
            <div class="card-body">
                <h3 class="c">Vipul Sangode</h3>
                <h5 class="d">Design Team</h5>

            </div>
        </div>

    </div>
    <button>2019-20</button>
    <div class="2019-20" id="drop-content">

        <div class="container">
            <!--
            <div class="one">
                <img src="assets/user.png" class="pic">
                <h3 class="c">Prince Yadav</h3>
                <h5 class="d">UG Representative(Boys)</h5>
            </div>-->
            <div class="one" style="width: 18rem;">
                <img src="assets/user.png" class="card-img-top">
                <div class="card-body">
                    <h3 class="c">Nitin Chandra</h3>
                    <h5 class="d">UG Representative(Boys)</h5>

                </div>
            </div>

            <div class="two" style="width: 18rem;">
                <img src="assets/user.png" class="card-img-top" alt="...">
                <div class="card-body">
                    <h3 class="c">Sriyuta Srivastava</h3>
                    <h5 class="d">UG Representative(Girls)</h5>

                </div>
            </div>
        </div>
        <div class="container">
            <div class="three" style="width: 18rem;">
                <img src="assets/user.png" class="card-img-top" alt="...">
                <div class="card-body">
                    <h3 class="c">Rituraj Kushwaha</h3>
                    <h5 class="d">Arts,Cultural and Literary Secretary(Boys)</h5>

                </div>
            </div>

            <div class="four" style="width: 18rem;">
                <img src="assets/user.png" class="card-img-top" alt="...">
                <div class="card-body">
                    <h3 class="c">Manorma Singh Rathore</h3>
                    <h5 class="d">Arts,Cultural and Literary Secretary(Girls)</h5>

                </div>
            </div>
        </div>
        <div class="container">

            <div class="five" style="width: 18rem;">
                <img src="assets/user.png" class="card-img-top" alt="...">
                <div class="card-body">
                    <h3 class="c">Pushpak Singh Tawar</h3>
                    <h5 class="d">Sports Secretary(Boys)</h5>

                </div>
            </div>

            <div class="six" style="width: 18rem;">
                <img src="assets/user.png" class="card-img-top" alt="...">
                <div class="card-body">
                    <h3 class="c">Likitha Bonda</h3>
                    <h5 class="d">Sports Secretary(Girls)</h5>

                </div>
            </div>
        </div>
        <div class="container">
            <div class="seven" style="width: 18rem;">
                <img src="assets/user.png" class="card-img-top" alt="...">
                <div class="card-body">
                    <h3 class="c">Jatin Aditya Reddy</h3>
                    <h5 class="d">Science and Technology Secretary(Boys)</h5>

                </div>
            </div>
            <div class="eight" style="width: 18rem;">
                <img src="assets/user.png" class="card-img-top" alt="...">
                <div class="card-body">
                    <h3 class="c">Tina Sahu</h3>
                    <h5 class="d">Science and Technology Secretary(Girls)</h5>

                </div>
            </div>


        </div>


    </div>
    <button>2018-19</button>
    <div class="2018-19" id="drop-content">

        <div class="container">
            <!--
            <div class="one">
                <img src="assets/user.png" class="pic">
                <h3 class="c">Prince Yadav</h3>
                <h5 class="d">UG Representative(Boys)</h5>
            </div>-->
            <div class="one" style="width: 18rem;">
                <img src="assets/user.png" class="card-img-top">
                <div class="card-body">
                    <h3 class="c">Vishal Pallagani</h3>
                    <h5 class="d">UG Representative(Boys)</h5>

                </div>
            </div>

            <div class="two" style="width: 18rem;">
                <img src="assets/user.png" class="card-img-top" alt="...">
                <div class="card-body">
                    <h3 class="c">Ankita Jha</h3>
                    <h5 class="d">UG Representative(Girls)</h5>

                </div>
            </div>
        </div>
        <div class="container">
            <div class="three" style="width: 18rem;">
                <img src="assets/user.png" class="card-img-top" alt="...">
                <div class="card-body">
                    <h3 class="c">Rasheed Ahmed</h3>
                    <h5 class="d">Arts,Cultural and Literary Secretary(Boys)</h5>

                </div>
            </div>

            <div class="four" style="width: 18rem;">
                <img src="assets/user.png" class="card-img-top" alt="...">
                <div class="card-body">
                    <h3 class="c">Aditi Agrahari</h3>
                    <h5 class="d">Arts,Cultural and Literary Secretary(Girls)</h5>

                </div>
            </div>
        </div>
        <div class="container">

            <div class="five" style="width: 18rem;">
                <img src="assets/user.png" class="card-img-top" alt="...">
                <div class="card-body">
                    <h3 class="c">Nirbhay Giri</h3>
                    <h5 class="d">Sports Secretary(Boys)</h5>

                </div>
            </div>

            <div class="six" style="width: 18rem;">
                <img src="assets/user.png" class="card-img-top" alt="...">
                <div class="card-body">
                    <h3 class="c">Minakshee Shukla</h3>
                    <h5 class="d">Sports Secretary(Girls)</h5>

                </div>
            </div>
        </div>
        <div class="container">
            <div class="seven" style="width: 18rem;">
                <img src="assets/user.png" class="card-img-top" alt="...">
                <div class="card-body">
                    <h3 class="c">Kushashwa Ravi Shrimali</h3>
                    <h5 class="d">Science and Technology Secretary(Boys)</h5>

                </div>
            </div>
            <div class="eight" style="width: 18rem;">
                <img src="assets/user.png" class="card-img-top" alt="...">
                <div class="card-body">
                    <h3 class="c">Priyanka Mall</h3>
                    <h5 class="d">Science and Technology Secretary(Girls)</h5>

                </div>
            </div>


        </div>


    </div>
</div>