<div id="mainbody">
<!-- Jumbotron-->
<div class="jumbotron jumbotron-fluid" id="iiit">
  <!-- <div class="text-block"> -->
</div>
  <div>
    <h1 class="display-4 font-weight-bold" id="sac">
      
    </h1>
  </div>

  <!-- Card Row-->
  <div class="row">
    <div class="card-deck text-center" style="padding: 5px;" id="grp1">
       <!-- Clubs -->
       <div class="card ml-3">
        <img src="https://images.unsplash.com/photo-1517048676732-d65bc937f952?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=500&q=60" class="card-img-top" alt="Clubs">
        <div class="card-body d-flex flex-column justify-content-center">
          <h3 class="card-title font-weight-bold">Clubs</h3>
          <p class="card-text">
            <i>A guide to walk you through all we have to offer through our different clubs.</i>
            <br>
          </p>
          <a href="clubs/" class="btn btn-secondary mt-auto">Explore More <i class="fa fa-users"></i></a>
        </div>
      </div>
      <!-- Gallery -->
      <div class="card ml-3">
        <img src="https://images.unsplash.com/photo-1518997350705-0379564558ac?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=500&q=60" class="card-img-top" alt="Gallery">
        <div class="card-body d-flex flex-column justify-content-center">
          <h3 class="card-title font-weight-bold">Gallery</h3>
          <p class="card-text">
            <i>A little sneak peek for all the fun.</i>
            <br>
          </p>
          <a href="gallery/" class="btn btn-warning mt-auto">Explore More <i class="fa fa-camera"></i></a>
        </div>
      </div>
      <!-- Activities and Achievements -->
      <div class="card ml-3">
        <img src="https://images.unsplash.com/photo-1571008592377-e362723e8998?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=500&q=60" class="card-img-top" alt="Activities and Achievements">
        <div class="card-body d-flex flex-column justify-content-center">
          <h3 class="card-title font-weight-bold">Activities and Achievements</h3>
          <p class="card-text">
            <i>Let's have a look at how the things are turning out in each club and some achievements to flex a little.</i>
            <br>
          </p>
          <a href="#" class="btn btn-info mt-auto">Explore More <i class="fa fa-trophy"></i></a>
        </div>
      </div>      
      <!-- Newsletters -->
      <div class="card ml-3">
        <img src="https://images.unsplash.com/photo-1583403608659-e87733b432aa?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=500&q=60" class="card-img-top" alt="Newsletter">
        <div class="card-body d-flex flex-column justify-content-center">
          <h3 class="card-title font-weight-bold">Newsletters</h3>
          <p class="card-text">
            <i>A way to keep people updated about the recent happening in that area, if you're busy to not keep updated regularly, this will get you covered.</i>
            <br>
          </p>
          <a href="#" class="btn btn-success mt-auto">Explore More <i class="fa fa-newspaper-o"></i></a>
        </div>
      </div>
    </div>
  </div>

<div class="container ml-9 mt-5">
  <div class="row">
    <!-- Calendar-->
    <div class="col-md-6" style="color: rgba(0, 0, 0, 1)" style="margin: 0px;">
      <h2 class="font-weight-bold" style="padding-top: 30px;">Calendar</h2><hr>
      <app-calendar></app-calendar>

    </div>
    
    <div class="col-md-1"></div>
    <!-- About SAC -->
    <div class="col-md-5" style="color: rgba(0, 0, 0,1)">
      <h2 class="font-weight-bold" style="padding-top: 30px;">About SAC</h2><hr>
      <p class="text-justify" id="about">
        <b>Student Activity Centre (SAC)</b> is a student body established in the year 2018 which aims to support, develop and promote student activities at IIIT Naya Raipur.
        Its functions include the supervision of all clubs, under SAC, as well as management of all technical, science, sports, cultural, arts, literary activities taking 
        place at IIIT Naya Raipur.
        <br><br>
        The current SAC body has the following members: President of SAC (a faculty mentor), two UG Representatives, two Science and Technology Representatives, 
        two Arts, Cultural and Literary Representatives and two Sports Representatives.
        <br><br>
        Currently there are 6 clubs under Science and Technology wing, 7 clubs under Arts, Cultural and Literary wing and 9 clubs under Sports wing.
        <br><br>
        One of the prime objectives of SAC is to enhance the aesthetic, inventive, artistic, intellectual and social development of the undergraduates and to give the 
        undergraduates of IIIT Naya Raipur opportunities and exposure by promoting and organizing  intra-college as well as inter-college events and annual 
        techno-cultural fest, Technovate. SAC is devoted to present and enhance the club culture of IIIT Naya Raipur.
        <br><br>
        <b>Follow us on<a href="https://instagram.com/sac_iiitnr/" class="instagram" style="color: rgb(220, 42, 251)">Instagram <i class="fa fa-instagram"></i></a></b>
      </p>
    </div>
  </div> 
</div>

<!--Footer-->
<section style="background: #171a21">
  <div class="footer-top">
    <div class="text-center">
        <div class="row">
            <div class="col-md-8 footer-writeus">
              <h4 style="color: #fff;">Write Us</h4>
              <section id="write_us">
                <div class="container" style="padding: 0;">
                    <div class="row">
                      <div class="col col-md-10 offset-md-1">
                         <app-writeus></app-writeus>
                      </div>
                    </div>
                </div>
              </section>
            </div>

            <div class="col-md-4 footer-contact" style="color: #fff;">
              <h4>Contact Us</h4>
              <p style="color: #fff;">
                SAC Office, IIIT Naya Raipur<br>
                Plot No. 7, Sector-24<br>
                Near Purkhoti Muktangan<br>
                Chhattisgarh<br>
                <strong>Phone:</strong> +91 8827106331<br>
                <strong>E-Mail:</strong> sac@iiitnr.edu.in<br>
              </p>

              <div class="social-links" style="color: #fff;">
                <a href="https://twitter.com/IIIT_NR" class="twitter" style="color: #fff"><i class="fa fa-twitter"></i></a>
                <a href="https://www.facebook.com/IIITNROfficial" class="facebook" style="color: #fff"><i class="fa fa-facebook"></i></a>
                <a href="https://www.instagram.com/iiitnrofficial/" class="instagram" style="color: #fff"><i class="fa fa-instagram"></i></a>
                <a href="https://www.linkedin.com/school/iiitnrofficial/" class="linkedin" style="color: #fff"><i class="fa fa-linkedin"></i></a>
              </div>
            </div>
          </div>
      </div>
    </div>
</section>
</div>